<div class="column">
  <h2>Wählen Sie eine Beteiligungsmodul aus</h2>
  <% ProjektPhase::PROJEKT_PHASES_TYPES.each do |type| %>
    <div class="admin-frame-phase-to-select">
      <div class="admin-frame-phase-to-select--name-section">
        <div class="admin-frame-phase-to-select--name">
          <%= type.constantize.model_name.human %>
        </div>
        <button title="Ask AI" type="button frame-explain-with-ai-button">
          <i class="dt-logo-small-icon">
          </i>
        </button>
      </div>

      <%= form_with(
        model: ProjektPhase.new,
        url: polymorphic_path([@namespace, @projekt, ProjektPhase.new]),
        method: :post
      ) do |f| %>
      <%= f.hidden_field :projekt_id, value: @projekt.id %>
      <%= f.hidden_field :type, value: type %>
      <button type="submit" class="-transparent-round-icon-button frame-select-new-phase-button">
        <i class="fas fa-arrow-right">
        </i>
      </button>
    <% end %>
    </div>
  <% end %>
</div>

<%= content_for :admin_bottom_navigation do %>
  <%= render Admin::ProjektPhases::FrameNavigationComponent.new(projekt: @projekt, hide_prev_next: true) %>
<% end %>
