<%= render "custom/admin/projekt_phases/heading" %>

<% unless embedded? %>
  <%= render "custom/admin/projekt_phases/nav_bar" %>
<% end %>

<div class="row">
  <div class="column">
    <h2>
      <%= t("custom.admin.projekt_phases.naming.page_title") %>

      <% if embedded? %>
        <% fields_to_explain = %w( name phase_tab_name) %>

        <% if @projekt_phase.name.in?(["voting_phase"]) %>
          <% fields_to_explain << "phase description" %>
        <% end %>

        <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase", "voting_phase", "question_phase", "formular_phase", "legislation_phase", "comment_phase", "livestream_phase"]) %>
          <% fields_to_explain << "cta button name" %>
        <% end %>

        <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase"]) %>
          <% fields_to_explain += ["labels name", "sentiments name"] %>
        <% end %>

        <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase"]) %>
          <% fields_to_explain << "projekt selector hint" %>
        <% end %>

        <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase"]) %>
          <% fields_to_explain += ["projekt selector hint", "resource form title", "resource form title hint"] %>
        <% end %>
        <% if @projekt_phase.name.in?(["voting_phase"]) %>
          <% fields_to_explain << "description" %>
        <% end %>

        <%= render Shared::ExplainButtonComponent.new(
          explain: "phase naming. Fields: #{fields_to_explain&.join(', ')}"
        ) %>
      <% end %>
    </h2>
  </div>
</div>

<% naming_column_class = embedded? ? "" : "large-8" %>

<%= translatable_form_for(@projekt_phase, url: namespace_projekt_phase_path, as: :projekt_phase, html: { id: "phase-edit-form"}) do |f| %>
  <%= hidden_field_tag :action_name, action_name %>

  <div class="row">
    <div class="column">
      <%= render "shared/errors", resource: @projekt_phase %>
      <% unless embedded? %>
        <%= render "shared/globalize_locales", resource: @projekt_phase %>
      <% end %>
    </div>
  </div>

  <% if @projekt_phase.name == "voting_phase" %>
    <%= f.fields_for :polls do |polls_form| %>
      <%= polls_form.translatable_fields do |poll_translations_form| %>
        <div class="row">
          <div class="column <%= naming_column_class %>">
            <%= poll_translations_form.text_field :name %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= f.translatable_fields do |translations_form| %>
    <div class="row">
      <div class="column <%= naming_column_class %>">
        <strong><%= t("custom.admin.projekt_phases.phase_tab_name") %></strong>
        <%= translations_form.text_field :phase_tab_name, label: false %>
      </div>
    </div>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase", "voting_phase", "question_phase", "formular_phase", "legislation_phase", "comment_phase", "livestream_phase"]) %>
      <div class="row">
        <div class="column <%= naming_column_class %>">
          <strong><%= t("custom.admin.projekt_phases.cta_button_name") %></strong>
          <%= translations_form.text_field :cta_button_name, label: false %>
        </div>
      </div>
    <% end %>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase"]) %>
      <div class="row">
        <div class="column <%= naming_column_class %>">
          <strong><%= t("custom.admin.projekt_phases.labels_name") %></strong>
          <%= translations_form.text_field :labels_name, label: false %>
        </div>
      </div>

      <div class="row">
        <div class="column <%= naming_column_class %>">
          <strong><%= t("custom.admin.projekt_phases.sentiments_name") %></strong>
          <%= translations_form.text_field :sentiments_name, label: false %>
        </div>
      </div>
    <% end %>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase"]) %>
      <div class="row">
        <div class="column <%= naming_column_class %>">
          <strong><%= t("custom.admin.projekt_phases.resource_form_title") %></strong>
          <%= translations_form.text_field :resource_form_title, label: false %>
        </div>
      </div>
    <% end %>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase"]) %>
      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.resource_form_title_hint") %></strong>
          <%= translations_form.text_field :resource_form_title_hint, label: false %>
        </div>
      </div>
    <% end %>

    <% if @projekt_phase.name.in?(["voting_phase"]) %>
      <div class="row">
        <div class="column <%= naming_column_class %>">
          <strong><%= t("custom.admin.projekt_phases.#{@projekt_phase.name}.description") %></strong>
          <%= translations_form.text_area :description,
            label: false,
            class: "html-area #{ck_editor_class(current_user)}" %>
        </div>
      </div>
    <% end %>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase"]) %>
      <div class="row">
        <div class="column <%= naming_column_class %>">
          <strong><%= t("custom.admin.projekt_phases.projekt_selector_hint") %></strong>
          <%= translations_form.text_area :projekt_selector_hint,
            label: false,
            class: "html-area #{ck_editor_class(current_user)}" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @projekt_phase.name.in?(["voting_phase"]) %>
    <div class="row">
      <div class="column <%= naming_column_class %>">
        <div class="polls-form">
          <%= f.fields_for :polls, @projekt_phase.poll do |polls_form| %>
            <%= polls_form.translatable_fields do |poll_translations_form| %>
              <%= poll_translations_form.text_area :closing_note,
                class: "html-area #{ck_editor_class(current_user)}" %>
            <% end %>

            <%= render "images/nested_image", f: polls_form %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class='column <%= naming_column_class %>'>
      <%= f.submit(t("custom.admin.projekt_phases.shared.update_button"), class: "button success") %>
    </div>
  </div>
<% end %>

<% if embedded? %>
  <% content_for :admin_frame_top_navigation do %>
    <%= render Admin::ProjektPhases::FrameNavigationComponent.new(projekt_phase: @projekt_phase, show_title: true) %>
  <% end %>
  <%= content_for :admin_frame_bottom_navigation do %>
    <%= render Admin::ProjektPhases::FrameNavigationComponent.new(projekt_phase: @projekt_phase) %>
  <% end %>
<% end %>
