<%= render "custom/admin/projekt_phases/heading" %>

<% unless embedded? %>
  <%= render "custom/admin/projekt_phases/nav_bar" %>
<% end %>

<div class="row">
  <div class="column">
    <h2>
      <%= t("custom.admin.projekt_phases.projekt_events.page_title") %>
      <% if embedded? %>
        <%= render Shared::ExplainButtonComponent.new(
          explain: "projekt events"
        ) %>
      <% end %>
    </h2>
  </div>
</div>

<div class="row">
  <% column_size_medium = embedded? ? "" : "medium-8" %>
  <div class="column small-12 <%= column_size_medium %>">
    <%= render partial: "custom/admin/projekt_events/form", locals: { event: @projekt_event } %>
  </div>
</div>

<div class='margin-top'>
  <% @projekt_events.each do |event| %>
    <div class="row">
      <% column_size_medium = embedded? ? "" : "medium-8" %>
      <div class='column small-12 <%= column_size_medium %> projekt-event' id="<%= dom_id(event) %>">
        <div class='projekt-event-content margin-bottom'>
          <div class="row">
            <div class="column medium-6">
              <h3>
                <%= event.title %>
              </h3>
              <% if event.location.present? %>
                <p>
                <strong><%= t("custom.admin.projekt_phases.projekt_events.event_location") %>:</strong>
                <%= event.location %>
                </p>
              <% end %>
              <p>
                <strong><%= t("custom.admin.projekt_phases.projekt_events.event_datetime") %>:</strong>
                <%= event.datetime.strftime("%d.%m.%y %H:%m") %>
                <% if event.end_datetime.present? %>
                  —
                  <%= event.end_datetime.strftime("%d.%m.%y %H:%m") %>
                <% elsif event.open_ended? %>
                  (<%= t("custom.admin.projekt_phases.projekt_events.open_ended") %>)
                <% end %>
              </p>
              <% if event.weblink.present? %>
                <p>
                  <strong><%= t("custom.admin.projekt_phases.projekt_events.event_weblink") %>:</strong>
                  <%= link_to(event.weblink, event.weblink) %>
                </p>
              <% end %>
              <% if event.description.present? %>
                <p>
                  <strong><%= t("custom.admin.projekt_phases.projekt_events.event_description") %>:</strong>
                  <div>
                    <%= auto_link_already_sanitized_html wysiwyg(event.description) %>
                  </div>
                </p>
              <% end %>
              <p>
                <strong><%= t("custom.admin.projekt_phases.projekt_events.event_created_at") %>:</strong>
                <%= event.created_at.to_date %>
              </p>
            </div>
            <div class="column medium-6">
              <%= image_tag event.image.variant(:projekt_event_thumb) if event.image.present? %>
            </div>

          </div>
          <%= link_to t("custom.admin.projekt_phases.projekt_events.send_notifications_button"), polymorphic_path([@namespace, event], action: :send_notifications), method: :post, class: "float-left" %>
          <%= link_to "", polymorphic_path([@namespace, event]), method: :delete, class: "destroy-icon float-right", data: { confirm: t("custom.shared.destroy_confirmation") } %>
          <%= link_to "", polymorphic_path([@namespace, event], action: :edit), class: "edit-icon float-right" %>
        </div>

        <hr class="margin-bottom">
      </div>
    </div>
  <% end %>
</div>

<% if embedded? %>
  <% content_for :admin_frame_top_navigation do %>
    <%= render Admin::ProjektPhases::FrameNavigationComponent.new(projekt_phase: @projekt_phase, show_title: true) %>
  <% end %>
  <%= content_for :admin_frame_bottom_navigation do %>
    <%= render Admin::ProjektPhases::FrameNavigationComponent.new(projekt_phase: @projekt_phase) %>
  <% end %>
<% end %>
