<%= render "custom/admin/projekt_phases/heading" %>

<% unless embedded? %>
  <%= render "custom/admin/projekt_phases/nav_bar" %>
<% end %>

<div class="row">
  <div class="column">
    <h2>
      <%= t("custom.admin.projekt_phases.restrictions.page_title") %>
      <%= render Shared::ExplainButtonComponent.new(
        explain: "phase restrictions"
      ) %>
    </h2>
  </div>
</div>

<div class="row">
  <div class="column medium-9 margin-bottom">
    <p><%= t("custom.admin.projekt_phases.restrictions.intro.p1_html") %></p>
    <p><%= t("custom.admin.projekt_phases.restrictions.intro.p2_html") %></p>
  </div>
</div>

<%= form_with model: @projekt_phase, url: namespace_projekt_phase_path, scope: :projekt_phase, id: "phase-edit-form" do |f| %>
  <%= hidden_field_tag :action_name, action_name %>

  <div class="row">
    <div class="column">
      <div class="phase-restrictions">
        <%= render "custom/admin/projekt_phases/restrictions/user_status_restriction", f: f %>
        <%= render "custom/admin/projekt_phases/restrictions/geozone_restriction", f: f %>
        <%= render "custom/admin/projekt_phases/restrictions/extended_geozone_restriction", f: f %>
        <%= render "custom/admin/projekt_phases/restrictions/age_restriction", f: f %>
        <%= render "custom/admin/projekt_phases/restrictions/individual_group_values_restriction", f: f %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='column large-8'>
      <%= f.submit(t("custom.admin.projekt_phases.shared.update_button"), class: "button success") %>
    </div>
  </div>
<% end %>

<% if embedded? %>
  <% content_for :admin_frame_top_navigation do %>
    <%= render Admin::ProjektPhases::FrameNavigationComponent.new(projekt_phase: @projekt_phase, show_title: true) %>
  <% end %>
  <%= content_for :admin_frame_bottom_navigation do %>
    <%= render Admin::ProjektPhases::FrameNavigationComponent.new(projekt_phase: @projekt_phase) %>
  <% end %>
<% end %>
