<% provide :title do %><%= t("polls.index.title") %><% end %>

  <%= render_custom_partial "meta_description" %>
  
  <% content_for :canonical do %>
    <%= render "shared/canonical", href: polls_url %>
  <% end %>
  
  <%= render_custom_partial "social_meta_tags" %>
  
  <%= render "shared/section_header", i18n_namespace: "custom.polls.index.section_header", icon: "stimme" %>
  
    <div class="row">
      <div class="small-12 medium-9 column">

      <%=render_custom_block 'polls_welcome' %>
      <% if show_polls_description? %>
        <div class="polls-description">
          <%= auto_link_already_sanitized_html wysiwyg(@active_poll.description) %>
        </div>
      <% end %>
  
      <%= render "shared/filter_subnav", i18n_namespace: "polls.index" %>
  
      <% if @polls.any? %>
        <div class='row'>
          <div class='small-12 medium-9 column'>
            <%= link_to t('polls.index.section_header.help'), '#sorting_help' %>
          </div>
          <div class='small-12 medium-3 column'>
            <div class='float-right'>
              <%= @all_polls.count %>
              <%= t('activerecord.models.poll', count: @all_polls.count) %>
            </div>
          </div>
        </div>

        <%= render "poll_group", poll_group: @polls %>
  
        <%= paginate @polls %>
      <% else %>
        <div class="callout primary margin-top">
          <%= t("polls.index.no_polls") %>
        </div>
      <% end %>
  
      <div id="sorting_help" class="margin" data-magellan-target="section_help">
        <%=render_custom_block 'polls_help' %>
        <%= render_custom_partial "footer" %>
      </div>
      </div>
      <div class="small-12 medium-3 column">
        <%=render_custom_block 'polls_sidebar' %>
        <aside class="margin-bottom">
          <%= render "shared/projekts_sidebar" %>
          <%= render "shared/categories", model: "poll" %>
        </aside>
    </div>
  </div>
