<main class="user-resource-form">
  <%= translatable_form_for(resource, html: { class: "debate-form" }) do |f| %>
    <div class="layout-main-column">
      <div class="layout-left-column">

        <%= render "shared/errors", resource: resource %>
        <%# <%= back_path %>

        <h1 class="user-resource-form--title">
          <%= t("new.start_new", scope: i18n_scope) %>
        </h1>

        <div class="user-resource-form--description">
          <%= t("new.description", scope: i18n_scope) %>
        </div>

        <%= f.translatable_fields do |translations_form| %>
          <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

          <div class="user-resource-form--banner-editor">
            <%= translations_form.text_area :title,
              maxlength: Debate.title_max_length,
              data: suggest_data(resource),
              label: false,
              class: 'user-resource-form--banner-editor-title',
              placeholder: "Geben Sie Ihrer Diskussion einen plakativen Titel, zum Beispiel „Die Projektlaufzeit ist zu lang“ oder „Bitte die geplanten Maßnahmen erweitern“.",
              autocomplete: "off" %>


            <% if extended_feature?("debates.head_image_for_debates") %>
              <div class="banner-editor-image-attachment">
                <% f.object.image ||= Image.new %>
                <%= f.fields_for :image do |image_builder| %>
                  <%= render Images::DirectUploadComponent.new(image_builder, imageable: f.object) %>
                  <%# <%= render Images::FieldsComponent.new(image_builder, imageable: f.object) %>
                <% end %>
              </div>
            <% end %>
          </div>


          <%= translations_form.text_area :description,
            maxlength: Debate.description_max_length,
            label: false,
            placeholder: "Beschreiben Sie hier, worum es Ihnen in Ihrer Diskussion geht. Folgendes Vorgehen hat sich bewährt: Beginnen Sie mit einer allgemeinen Beschreibung Ihres Anliegens und stellen Sie im Anschluss Ihre Position zum Thema dar. Achten Sie beim Schreiben möglichst auf kurze Sätze. Nutzen Sie außerdem Absätze, um Ihren Text lesbarer zu machen. (Viele Nutzer lesen Ihren Text auf mobilen Geräten.) Beschränken Sie Ihren Inhalt – sofern möglich – auf maximal drei Absätze. Verwenden Sie überdies – wenn passend – Aufzählungen und Stichpunkte für eine bessere Übersichtlichkeit.",
            class: "html-area #{helpers.ck_editor_class(current_user)}"
          %>
      <% end %>

        <div class="user-resource-form--submit-section">
          <% if resource.new_record? %>
            <h3 class="user-resource-form--submit-section--privacy-policy">
              Datenschutzbestimmungen & Allgemeine Nutzerbedingungen
            </h3>

            <div>
              <%= f.check_box :terms_of_service,
                title: t("form.accept_terms_title"),
                label: t("form.accept_terms",
                         policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                         conditions: link_to(t("form.conditions"), "/conditions", target: "blank")
                        ) %>
            </div>
          <% end %>

          <%= f.submit(class: "button", value: t("debates.#{action_name}.form.submit_button")) %>
        </div>
      </div>

      <aside class="sidebar">
        <%# <%= helpers.render_custom_block 'proposals_creation_recommendations' %>

        <fieldset class="required-fields">
          <%= hidden_field_tag :order, params[:order] %>

          <div class="sidebar-card">
            <div class="sidebar-card--section">
              <div class="sidebar-card--header">
                <i class="fa fa-code-branch"></i>
                 Projektzuordnung
              </div>
              <% if @selected_projekt&.overview_page? %>
                <%= f.hidden_field :projekt_id, value: @selected_projekt.id %>
              <% else %>
                <!-- <legend><%= t("custom.shared.form.projekt_assignment") %></legend> -->
                <div class="margin-top">
                  <%= render partial: "shared/projekt_selector/projekt_selector", locals: { f: f, model: resource, projekts: Projekt.top_level }  %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="sidebar-card">
            <div class="sidebar-card--section">
              <div class="sidebar-card--header">
                <i class="fa fa-file"></i>
                 Dokumente hinzufügen
              </div>
              <div class="documents" id="attach-documents">
                <%= render "documents/nested_documents", f: f %>
              </div>
            </div>
          </div>

          <div class="sidebar-card">
            <div class="sidebar-card--section">
              <div class="sidebar-card--header">
                <i class="fa fa-video"></i>
                 Video hinzufügen
              </div>
              <p>
                Gibt es Videos, die Ihre Argumentation und Sichtweise stützen?
                Dann fügen Sie diese über einen Link hinzu.
              </p>
              <%= f.text_field :video_url, label: false, placeholder: 'YouTube oder Vimeo-Link eingeben', class: 'light-input' %>
            </div>
          </div>

          <!-- <legend class='margin-top'><%= t("custom.debates.form.required") %></legend> -->
          <%= render "shared/globalize_locales", resource: resource %>

          <%= f.invisible_captcha :subtitle %>

          <%if @categories&.any? %>
            <div class="sidebar-card">
              <div class="sidebar-card--section">
                <div class="sidebar-card--header">
                  <i class="fa fa-video"></i>
                  Tags
                </div>
                <p>
                Tags sind Markierungen, die uns dabei helfen, Diskussionen
                bestimmten Themen zuzuordnen. So findet jeder schnell, was
                ihn interessiert. Aktivieren Sie per Klick den oder die Tags,
                die zu Ihrer Diskussion passen.
                </p>
                <div id="category_tags" class="tags">
                  <% @categories.each do |tag| %>
                    <a class="js-add-tag-link" data-category-id="<%= tag.id %>"><%= tag.name %></a>
                  <% end %>
                </div>
                <br>

                <%=f.hidden_field :tag_list_predefined, value: @resource.tags.reject{|t| !['category'].include?(t.kind)}.map(&:name).join(","), class: "js-tag-list list-tags predefined"%>
              </div>
            </div>
          <%end%>

          <% if extended_feature?("modulewide.enable_categories") && @categories&.any? && SDG::ProcessEnabled.new(f.object).enabled? %>
            <div class="sidebar-card">
              <div class="sidebar-card--section">
                <div class="sidebar-card--header">
                  <i class="fa fa-video"></i>
                  UN-Nachhaltigkeitsziele
                </div>
                <p>
                Die Vereinten Nationen haben 17 Nachhaltigkeitsziele
                formuliert. Lässt sich Ihre Diskussion einem dieser Ziele
                zuordnen? Dann aktivieren Sie das entsprechende Feld per Klick.
                </p>
                <div id="sdgs-selector" class='row margin-top'>
                  <br>
                  <%= render SDG::RelatedListSelectorComponent.new(f) %>
                </div>
              </div>
            </div>
          <% end %>

          <% if current_user.administrator? || current_user.moderator? %>
            <div class="sidebar-card">
              <div class="sidebar-card--section">
                <div class="sidebar-card--header">
                  <i class="fa fa-user"></i>
                  Veröffentlichen für
                </div>
                <p>
                  Dieses Feld sehen nur Admin. Sie können hier eine Diskussion im Namen von jemandem erstellen.
                </p>
                <%= f.text_field :on_behalf_of, label: false, placeholder: "Namen eingeben...", class: "light-input" %>
              </div>
            </div>
          <% end %>
      </aside>
    </div>
  <% end %>
</main>
