<% if @process.draft_versions.any? %>
  <h2><%= t("custom.admin.projekt_phases.legislation_process_draft_versions.list_title") %></h2>

  <table class="stack">
    <thead>
      <tr>
        <th><%= t("admin.legislation.draft_versions.table.title") %></th>
        <th><%= t("admin.legislation.draft_versions.table.created_at") %></th>
        <th><%= t("admin.legislation.draft_versions.table.status") %></th>
        <th class="text-center"><%= t("admin.legislation.draft_versions.table.comments") %></th>
        <th class="text-center"><%= t("admin.legislation.draft_versions.table.final_version") %></th>
      </tr>
    </thead>
    <tbody>
    <% @process.draft_versions.each do |draft_version| %>
      <tr id="<%= dom_id(draft_version) %>">
        <td>
          <%= link_to draft_version.title, polymorphic_path([@namespace, @process, draft_version], action: :edit) %>
        </td>
        <td><%= draft_version.created_at.to_date %></td>
        <td>
          <% if draft_version.status == "draft" %>
            <%= Legislation::DraftVersion.human_attribute_name(:status_draft) %>
            <%= link_to "(#{t("admin.legislation.draft_versions.index.preview")})",
                        legislation_process_draft_version_path(@process, draft_version) %>
          <% else %>
            <%= Legislation::DraftVersion.human_attribute_name(:status_published) %>
          <% end %>
        </td>
        <td class="text-center"><%= draft_version.total_comments %></td>
        <td class="text-center">
          <% if draft_version.final_version %>
            <span class="icon-check" title="<%= draft_version.final_version %>"></span>
          <% else %>
            <span class="icon-x delete" title="<%= draft_version.final_version %>"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
