<h2><%= t("custom.admin.deficiency_report_managers.search.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_deficiency_report_managers_path %>

<div id="deficiency_report_managers">
  <% if @users.any? %>
    <h3><%= page_entries_info @users %></h3>

    <table id="deficiency_report_managers">
      <thead>
        <th scope="col"><%= DeficiencyReportManager.human_attribute_name(:name) %></th>
        <th scope="col" class="small-6"><%= DeficiencyReportManager.human_attribute_name(:email) %></th>
        <th scope="col"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= render Admin::Roles::TableActionsComponent.new(user.deficiency_report_manager || user.build_deficiency_report_manager) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="callout alert margin">
      <%= t("admin.shared.no_search_results") %>
    </div>
  <% end %>
</div>
