<h2><%= @projekt.name %>  </h2>
<%= form_for(@projekt, url: admin_projekt_path, as: :projekt) do |f| %>
  <div class='small-12 medium-7'>
    <%= f.text_field :name, {label: t("custom.admin.projekts.index.enter_name") } %>
  </div>

  <div class='small-12 medium-7'>
    <% projekts = Projekt.all.to_a %>
    <%= f.select :parent_id, projekts.pluck(:name, :id), 
                 { include_blank: true, label: t('custom.admin.projekts.index.choose_parent') } %>
  </div>

<hr>

<h2><%= t('custom.admin.projekts.index.projekt_list') %>  </h2>
<table>
  <thead>
    <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.phase_name") %></th>
    <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.beginning") %></th>
    <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.ending") %></th>
    <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.actions") %></th>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= t("custom.admin.projekts.edit.projekt_duration") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t("custom.admin.projekts.edit.debate_phase") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t("custom.admin.projekts.edit.proposal_phase") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t("custom.admin.projekts.edit.voting_phase") %>
      </td>
    </tr>
  </tbody>
</table>

  <div>
    <%= f.submit(t("custom.admin.projekts.index.create"), class: "button success") %>
  </div>
<% end %>
