<% unless embedded? %>
  <%= back_link_to params[:controller].include?("projekt_management") ? projekt_management_projekts_path : admin_projekts_path %>
<% end %>

<% unless embedded? %>
  <h2><%= @projekt.name %>  </h2>
<% end %>

<div class="tabs-content" data-tabs-content="edit-projekt-tabs">
  <%= render "custom/admin/projekts/edit/edit_projekt_filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-projekt-configuration">
    <%= render partial: "custom/admin/projekts/edit/projekt_configuration" %>
  </div>

  <% unless embedded? %>
    <div class="tabs-panel" id="tab-projekt-page">
      <%= render partial: "custom/admin/projekts/edit/projekt_page" %>
    </div>

    <div class="tabs-panel" id="tab-projekt-phases">
      <%= render partial: "custom/admin/projekts/edit/projekt_phases" %>
    </div>
  <% end %>

  <div class="tabs-panel" id="tab-projekt-settings">
    <%= render partial: "custom/admin/projekts/edit/projekt_settings" %>
  </div>

  <% unless embedded? %>
    <div class="tabs-panel" id="tab-projekt-managers">
      <%= render partial: "admin/projekts/edit/projekt_managers" %>
    </div>
  <% end %>

  <div class="tabs-panel" id="tab-projekt-map">
    <%= render partial: "custom/admin/projekts/edit/projekt_map" %>
  </div>

  <% unless embedded? %>
    <div class="tabs-panel" id="tab-projekt-sdg">
      <%= render partial: "custom/admin/projekts/edit/projekt_sdg" %>
    </div>
  <% end %>
</div>

<% if embedded? %>
  <% back_url = @projekt.frame_url %>

  <% content_for :admin_frame_top_navigation do %>
    <%= render Admin::Frame::NavigationComponent.new(title: "Projekteinstellungen") do |c| %>
      <% c.with_navigation_content do %>
        <%= link_to "Zurück", back_url, class: "", data: {turbolinks: false} %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_for :admin_frame_bottom_navigation do %>
    <%= render Admin::Frame::NavigationComponent.new do |c| %>
      <% c.with_navigation_content do %>
        <%= link_to "Zurück", back_url, class: "", data: {turbolinks: false} %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
