<h1>
  <%= t("debates.index.title") %>
</h1>
<div class="flex-column">
  <div class="layout-left-column">
    <% if controller_name == 'debates' %>
      <% if feature?("user.recommendations") && @recommended_debates.present? %>
        <%= render "shared/recommended_index", recommended: @recommended_debates,
          disable_recommendations_path: recommendations_disable_debates_path,
          namespace: "debates" %>
      <% end %>

      <% if extended_feature?("debates.intro_text_for_debates") %>
        <div class="resource-page--intro-text">
          <%= render_custom_block('debates_welcome', default_content: t("custom.debates.index.welcome_default_text")) %>
        </div>
      <% end %>

      <% unless @search_terms || !has_featured? %>
        <%= render "featured_debates" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="layout-main-column">
  <div class="layout-left-column">
    <%# <% if extended_feature?('modulewide.custom_help_text_in_modules') %>
    <%#   <%= link_to t('debates.index.section_header.help'), '#section_help' %>
    <%# <% end %>

    <%= render 'shared/loader_spinner' %>
      <% if @current_projekt&.overview_page? %>
      <% elsif controller_name == 'debates' %>
        <% debates_load_url = debates_path %>
      <% else %>
        <% debates_load_url = url_for(action: params[:current_tab_path], controller: "/pages", format: :js) %>
      <% end %>

      <%= render(
            Shared::ResourcesList.new(
              resources: @debates,
              resource_type: Debate,
              current_filter: @current_order,
              filter_param: "order",
              text_search_enabled: true,
              filters: @valid_orders,
              filter_i18n_scope: "debates.index.orders",
              no_items_text: "Keine Ergebnisse"
            ))
      %>
    <%= paginate @debates, remote: true, params: { controller: 'pages', action: 'debate_phase_footer_tab' } %>
  </div>

  <div id="debates-sidebar" class="sidebar">

    <% if controller_name == 'debates' %>
      <%= render Shared::SidebarCardComponent.new(title: t('custom.common.information'), icon_name: "info-circle") do |c| %>
        <% c.body do %>
          <div class="margin-bottom-half">
            <%= render_custom_block 'projekt_overview_page_sidebar', default_content: t("custom.debates.index.sidebar_information_default_text")  %>
          </div>
          <div class="margin-bottom-half">
            <%= Debate.count %> <%= t("custom.common.debates") %>
          </div>

          <%= render Shared::NewButtonComponent.new(resources_name: "debates", query_params: params) %>
        <% end %>
      <% end %>
    <% else %>
      <%= render Shared::NewButtonComponent.new(projekt_phase: @current_tab_phase) %>
    <% end %>

    <% unless @current_projekt&.overview_page? %>
      <%= render Sidebar::ProjektsFilterComponent.new(
        top_level_active_projekts: @top_level_active_projekts,
        top_level_archived_projekts: @top_level_archived_projekts,
        scoped_projekt_ids: @scoped_projekt_ids,
        all_resources: @all_resources,
        current_tab_phase: @current_tab_phase,
        current_projekt: @current_projekt
      ) %>
    <% end %>

    <%= render "shared/sidebar_filter/geozone_affiliations", resource_name: @resource_name, geozones: @geozones %>
    <%= render "shared/categories", taggable: "debate", categories: @categories %>
    <%= render SDG::Goals::TagCloudComponentCustom.new("Debate") %>

    <% if extended_feature?('debates.enable_my_posts_filter') %>
      <%= render "shared/sidebar_filter/my_posts" %>
    <% end %>

    <% if controller_name == 'debates' && current_user&.administrator? %>
      <%= render Shared::SidebarCardComponent.new(title: 'Export', icon_name: "tag") do |c| %>
        <% c.body do %>
          <%=
            link_to t("custom.debates.index.download_current_selection"),
              debates_path(**request.query_parameters, format: :csv),
              format: :csv,
              target: '_blank'
            %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
