<li class="memo-block" id="<%= dom_id(memo) %>">
  <div class="memo-content">
    <div class="memo-details">
      <div>
        <%= avatar_image(memo.user, seed: memo.user_id, size: 32, class: "float-left", aria: { live: "off" }) %>
      </div>
      <div>
        <span class="user-name"><%= link_to memo.user.name, user_path(memo.user) %></span>
        <% if memo.user.display_official_position_badge? %>
          &nbsp;&bull;&nbsp;
          <%= render Shared::OfficialPositionBadgeComponent.new(user: memo.user) %>
        <% end %>
        <span>&nbsp;&bull;&nbsp;</span>
        <span><%= l memo.created_at.to_datetime, format: :datetime %></span>
      </div>
    </div>

    <div class="memo-text">
      <%= simple_format sanitize_and_auto_link(memo.text), {}, sanitize: false %>
    </div>

    <% if can?(:add_memo, memo.root_memoable) %>
      <div class="memo-controls">
        <%= link_to "Antworten", "#", onClick: "$(this).siblings('.memo-form').toggle(); return false;" %>

        <% if can?(:send_notification, memo) %>
          <%= link_to " | Benachrichtigung senden", polymorphic_path([@namespace, memo], action: :send_notification), method: :post, remote: true %>
          <% if memo.last_notification_sent_at.present? %>
            <%= "(Letzte Benachrichtigung gesendet am #{l memo.last_notification_sent_at.to_datetime, format: :datetime})" %>
          <% end %>
        <% end %>

        <%= render "admin/memos/form", memoable: memo %>
      </div>
    <% end %>
  </div>

  <%= render "admin/memos/memos_tree", memos: memo.children, memoable: memo %>
</li>
