<div class="verification account row">
  <% track_event(category: "verification", action: "success_sms") %>
  <div class="small-12 column">

    <div class="small-12 medium-12 column">

      <%= back_link_to account_path, t("verification.back") %>

      <h1><%= t("verification.letter.new.title") %></h1>

      <div class="user-permissions">

        <p><%= t("verification.letter.new.user_permission_info") %></p>

        <ul>
          <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_debates") %></li>
          <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_proposal") %></li>
          <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_support_proposal") %></li>
          <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_votes") %></li>
        </ul>
      </div>

      <%= link_to t("custom.verification.letter.new.go_to_index"), polls_path, class: "button success" %>
    </div>
  </div>
</div>
