<h2><%= t("admin.homepage.title") %></h2>

<p><%= t("admin.homepage.description") %></p>

<div id="header">
  <h3 class="inline-block"><%= t("admin.homepage.header_title") %></h3>

  <div class="float-right">
    <%= link_to t("admin.homepage.create_header"), new_admin_widget_card_path(header_card: true), class: "button" %>
  </div>

  <%= render Admin::Widget::Cards::TableComponent.new(
    @header,
    no_cards_message: t("admin.homepage.no_header")
  ) %>
</div>

<hr>

<div id="content-cards">
  <h3 class="inline-block">Inhaltskarten</h3>

  <table>
    <thead>
      <tr>
        <th><%= t("custom.admin.deficiency_reports.statuses.status.id") %></th>
        <th><%= t("custom.admin.deficiency_reports.statuses.status.id") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>

    <tbody class="sortable" data-js-url=<%= order_content_cards_admin_site_customization_content_cards_path %>>
      <% @content_cards.each do |card| %>
        <tr id="<%= dom_id(card) %>" data-answer-id="<%= card.id %>">
          <td><%= card.id %></td>
          <td><%= card.title %></td>
          <td>
            <%= render Admin::LivesubmitCheckbox::Component.new(
              url: toggle_active_admin_site_customization_content_cards_path(card),
              resource_name: "site_customization_content_card",
              attribute_name: "active",
              record_id: card.id,
              current_value: card.active
            ) %>
          </td>

          <td>
            <%= render Admin::TableActionsComponent.new(card,
                                                        actions: [:edit]
                                                       ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<h3 class="inline-block">Einstellungen</h3>

<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting") %></th>
      <th><%= t("admin.settings.index.features.enabled") %></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |feature| %>
      <tr>
        <td>
          <strong id="<%= dom_id(feature, :title) %>"><%= t("custom.settings.#{feature.key}") %></strong>
          <br>
          <span class="small">
            <%= t("custom.settings.#{feature.key}_description", default: t("admin.settings.no_description")) %>
          </span>
        </td>

        <td>
          <%= render Admin::Settings::FeaturedSettingsFormComponent.new(feature) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

