<header>
  <div class="row">
    <div class="top-bar">
      <%= link_to root_path do %>
        <%= image_tag(image_path_for("logo_left.png"), class: "float-left secondary-logo hide-for-small-only", alt: t("layouts.header.logo")) %>
      <% end %>

      <h2 class='header-title hide-for-small-only'>Deinen Ort bewegen!</h2>

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="hamburger-menu">
        <span class="menu-icon dark" data-toggle></span>
      </span>

      <div class="top-bar-title">
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for("logo_header_main.png"), class: "float-left main-logo", alt: t("layouts.header.logo")) %>
        <% end %>
      </div>

      <div id="responsive-menu">
        <div class="top-bar-right">
          <div class="show-for-small-only">
            <div class="subnavigation row">

              <h2 class='city-name'><%= Setting['org_name'] %></h2>

              <%= render "shared/subnavigation" %>
              <div class="small-12 column">
                <%= render "shared/top_links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="navigation_bar" class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
    </div>
  </div>
</header>
