<main class="communities-show">

  <div class="flex-layout">
    <div class="main-column">
      <%= back_link_to @resource, t("custom.common.back_to", to: @resource.title) %>
      <h1>
        Übersicht der Gesprächskreise zu diesem Vorschlag
      </h1>
      <div class="resource-page--intro-text">
        Wir laden Sie herzlich ein, Feedback zu diesem Thema zu geben, um es zu verbessern. Dabei stehen konstruktive Kritik und Optimierung im Fokus.<br><br>
        Sie können sich an bestehenden Gesprächskreisen beteiligen.<br><br>
        Und Sie können einen eigenen Gesprächskreis zu einem bestimmten Bereich des Themenvorschlags eröffnen. Dazu legen Sie das Thema frei fest und vergeben einen kurzen Titel. In einem Anfangstext können Sie einen konkreten Änderungsvorschlag oder eine Frage formulieren. Danach können andere Interessierte dazu kommentieren.<br><br>
        Bitte beachten Sie unsere Netiquette.<br><br>
      </div>
    </div>
  </div>
  <div class="flex-layout">
    <div class="main-column">
      <%= render ResourcePage::BannerComponent.new(resource: @resource, compact: true) %>

      <%= render(
        Shared::ResourcesListComponent.new(
          resources: @topics,
          resource_type: Topic,
          current_filter: @current_order,
          filter_param: "order",
          filters: @valid_orders,
          )) %>
      <%= paginate @topics %>
    </div>
    <aside class="sidebar">
      <%= render(Shared::SidebarCardComponent.new(title: t("custom.community.show.participate"), icon_name: "user", opened_on_mobile: true)) do |c| %>
        <%= link_to t("community.show.sidebar.new_topic"), create_topic_link(@community), class: "button expanded" %>
      <% end %>

      <%= render(Shared::SidebarCardComponent.new(title: t("custom.community.show.participants"), icon_name: "users", opened_on_mobile: true)) do |c| %>
        <%= render(Sidebar::UsersListComponent.new(users: @community.participants)) %>
      <% end %>

      <% if @community.proposal&.polls&.current&.any? %>
        <h2><%= t("communities.show.surveys") %></h2>
        <%= link_to t("communities.show.complete_survey"),
                    proposal_poll_path(@community.proposal,
                                       @community.proposal.polls.current.first),
                    class: "button expanded hollow" %>
      <% end %>
    </aside>
  </div>
</main>
