<% form_path = category.persisted? ? deficiency_report_management_category_path(category) : deficiency_report_management_categories_path(category) %>
<%= translatable_form_for category, url: form_path do |f| %>

  <%= render "shared/errors", resource: @category %>

  <%= render "shared/globalize_locales", resource: @category %>
  <%= f.translatable_fields do |translations_form| %>
    <div class="small-12 medium-6 large-4 column" style="float:left;">
      <%= translations_form.text_field :name %>
    </div>
  <% end %>

  <div class="clear">
    <div class="small-12 medium-6 large-4 column">
      <%= f.text_field :color, label: t("custom.admin.deficiency_reports.categories.category.color"),
        placeholder: t('custom.admin.deficiency_reports.categories.form.color_placeholder') %>
    </div>
  </div>

  <div class="clear">
    <div class="small-12 column">
      <%= f.label :default_deficiency_report_officer, t("custom.admin.deficiency_reports.categories.category.default_deficiency_report_officer") %>
      <%= f.collection_radio_buttons :deficiency_report_officer_id, @df_officers, :id, :name do |rb| %>
        <%= rb.radio_button + rb.label(style: "margin-right:1rem;") { rb.text } %>
      <% end %>
    </div>
  </div>

  <div class="clear">
    <div class="small-12 column">
      <%= f.label :icon, t("custom.admin.deficiency_reports.categories.category.icon")  %>
      <div class='admin-deficiency-report-category-icons-selector'>
        <%= f.collection_radio_buttons :icon, Iconable::AVAILABLE_ICONS_SHORT, :first, :first do |rb| %>
          <%= rb.label { rb.radio_button + "<i class=\"fas fa-#{rb.object.first}\"></i>".html_safe } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear">
    <div class="small-12 medium-6 column">
      <%= f.text_area :warning_text, label: t("custom.admin.deficiency_reports.categories.category.warning_text"),
        class: "html-area #{ck_editor_class(current_user)}" %>
    </div>
  </div>

  <div class="small-12 column">
    <%= f.submit(value: t("custom.admin.deficiency_reports.categories.form.submit_button"),
                class: "button success") %>
  </div>
<% end %>
