<% provide(:title) do %>
  <%= t("admin.header.title") %> - <%= t("custom.admin.deficiency_reports.categories.index.title") %>
<% end %>

<%= link_to t("custom.admin.deficiency_reports.categories.index.create"),
              new_deficiency_report_management_category_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("custom.admin.deficiency_reports.categories.index.title") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t("custom.admin.deficiency_reports.categories.category.icon") %></th>
      <th><%= t("custom.admin.deficiency_reports.categories.category.color") %></th>
      <th><%= t("custom.admin.deficiency_reports.categories.category.name") %></th>
      <th><%= t("custom.admin.deficiency_reports.categories.category.default_deficiency_report_officer") %></th>
      <th><%= t("custom.admin.deficiency_reports.categories.category.warning_text") %></th>
      <th><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>

  <tbody class="sortable" data-js-url=<%= order_categories_deficiency_report_management_categories_path %>>
    <% @categories.each do |category| %>
      <tr id="<%= dom_id(category) %>" data-answer-id="<%= category.id %>">
        <td><%= "<i class=\"fas fa-#{category.icon}\" style=\"color:#{category.color}\"></i>".html_safe if category.icon %></td>
        <td><%= category.color %></td>
        <td><%= category.name %></td>
        <td><%= category.default_deficiency_report_officer&.name %></td>
        <td><%= auto_link_already_sanitized_html(wysiwyg(category.warning_text[0..200])) %></td>
        <td>
          <%= render Admin::TableActionsComponent.new(category,
                                                      actions: [:edit, :destroy],
                                                      edit_path: edit_deficiency_report_management_category_path(category),
                                                      destroy_path: deficiency_report_management_category_path(category)
                                                     ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
