<% if Setting.new_design_enabled? %>
  <div class="layout-main-column">
    <div class="layout-left-column">
      <%= back_link_to(proposal_dashboard_path(@proposal)) %>

      <h1>
        Benachrichtigung erstellen
      </h1>
      <div class="margin-bottom-twice">
        <%= render UserResource::BannerComponent.new(@proposal)  %>
      </div>
      <h3> Benachrichtigungen (<%= @notifications&.count || 0 %>) </h3>

      <% if @notifications.present? %>
        <div id="proposal_notifications" class="new-card proposal-dashboard-notifications">
          <% if @notifications.blank? %>
            <div class="callout primary text-center">
              <%= t("proposals.show.no_notifications") %>
            </div>
          <% end %>

          <% @notifications.each do |notification| %>
            <div class="proposal-dashboard-notification" id="<%= dom_id(notification) %>">
              <div class="d-flex">
                <div class="proposal-dashboard-notification--label"> Titel:</div>
                <div class="proposal-dashboard-notification--value"><%= notification.title %></div>
              </div>
              <div class="d-flex">
                <div class="proposal-dashboard-notification--label"> Nachrichtentext:</div>
                <div class="proposal-dashboard-notification--value">
                  <%= simple_format sanitize_and_auto_link(notification.body), {}, sanitize: false %>
                </div>
              </div>
              <div class="d-flex">
                <div class="proposal-dashboard-notification--label"> Datum:</div>
                <div class="proposal-dashboard-notification--value">
                  <%= l(notification.created_at, format: :date_with_time) %>
                </div>
              </div>

              <div class="proposal-dashboard-notification--actions">
              </div>

              <%= render Shared::ModerationActionsComponent.new(notification) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <aside class="sidebar">
      <%= render Shared::SidebarCardComponent.new(title: 'Autor', icon_name: "user") do |c| %>
        <% c.body do %>
          <%= link_to "Neue Benachrichtigung",
            new_proposal_notification_path(proposal_id: proposal.id), class: "button" %>
        <% end %>
      <% end %>
    </aside>
  </div>

<% else %>
  <% content_for :action_title, t("dashboard.menu.messages") %>

  <%= link_to t("dashboard.messages.send_notification"),
    new_proposal_notification_path(proposal_id: proposal.id), class: "button" %>

  <%= link_to t("dashboard.messages.previous_notifications"),
            proposal_path(proposal, anchor: "tab-notifications"), class: "button hollow" %>
<% end %>
