<div class="dropdown-container js-dropdown" data-name="<%= @name %>">

  <div class="dropdown-toggle click-dropdown">
    <%= @selected_option&.second.presence || @options.first[1] %>
  </div>
  <div class="dropdown-menu">
    <ul>
    <% @options.each do |option| %>
      <li data-name="<%= @name %>" data-value="<%= option[0] %>" class="js-dropdown-item <%= @item_css_class %>" >
        <%= option[1] %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
