<div class="u-main-column resources-list <%= class_names %>" data-resources-url="<%= @resources_url %>">
  <h3 class="resources-list--title"><%= @title %></h3>

  <div class="resources-list--navigation">
    <div class="resources-list--line-divider">

    </div>
    <div class="resources-list--sort">
      <%= render(
            Shared::DropdownMenuComponent.new(
              name: @filter_param,
              options: @filter_options,
              item_css_class: 'js-resource-list-filter-dropdown-item'
            )
        )
      %>

    </div>
    <div class="resources-list--switch-view-button js-resource-list-switch-view-button">
      <i class="fa <%= switch_view_mode_icon %>"></i>
    </div>
  </div>

  <div class="resources-list--body">
    <% if additional_top_content.present? %>
      <div class="resources-list--additional-top-content">
        <%= additional_top_content %>
      </div>
    <% end %>

    <div class="resources-list--inner">
      <% @resources.each do |resource| %>
        <%= render resource_component(resource) %>
      <% end %>
    </div>
  </div>
</div>
