<%= render 'shared/loader_spinner' %>

<div class="layout-main-column">
  <div class="layout-left-column">
    <%= render Shared::MobileResourcesFilterComponent.new(
      sdgs: @sdgs,
      categories: @categories,
      resource_name: @resource_name,
      projekts_filter_variables: {
        top_level_active_projekts: @top_level_active_projekts,
        top_level_archived_projekts: @top_level_archived_projekts,
        scoped_projekt_ids: @scoped_projekt_ids,
        all_resources: @all_resources,
        current_tab_phase: @current_tab_phase,
        current_projekt: @current_projekt
      }
    ) %>
    <%= render 'shared/loader_spinner' %>

      <% if @current_projekt.overview_page? %>

      <% else %>
        <% debates_footer_url = url_for(action: params[:current_tab_path], controller: "/pages", format: :js) %>
      <% end %>

      <%= render(
            Shared::ResourcesList.new(
              resources: @debates,
              title: 'Debates',
              load_resources_url: debates_footer_url,
              current_filter: @current_order,
              filter_param: "order",
              filters: @valid_orders,
              no_items_text: "No debates"
            ))
      %>
    <%= paginate @debates, remote: true, params: { controller: 'pages', action: 'debate_phase_footer_tab' } %>
  </div>

  <div id="debates-sidebar" class="sidebar">
    <%= render Shared::NewButtonComponent.new(projekt_phase: @current_tab_phase) %>

    <% unless @current_projekt.overview_page? %>
      <div class="sidebar-card">
        <div class="sidebar-card--section">
          <h4 class="sidebar-card--header">
            <i class="fas fa-bullhorn"></i>
            Projekts
          </h4>
          <%= render Sidebar::ProjektsFilterComponent.new(
            top_level_active_projekts: @top_level_active_projekts,
            top_level_archived_projekts: @top_level_archived_projekts,
            scoped_projekt_ids: @scoped_projekt_ids,
            all_resources: @all_resources,
            current_tab_phase: @current_tab_phase,
            current_projekt: @current_projekt
          ) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
