
<%# <%= paginate @events, remote: true, params: { controller: 'pages', action: 'voting_phase_footer_tab' } %>
<%= render 'shared/loader_spinner' %>

<div class="layout-main-column">
  <div class="layout-left-column">
    <%# <%= render Shared::MobileResourcesFilterComponent.new(sdgs: @sdgs, categories: @categories, resource_name: @resource_name) %>
    <%= render 'shared/loader_spinner' %>

    <% event_phase_url = url_for(action: params[:current_tab_path], controller: "/pages", format: :js) %>
    <%= render(
      Shared::ResourcesList.new(
        resources: @projekt_events,
        resource_type: ProjektEvent,
        title: 'Events',
        remote_url: event_phase_url,
        current_filter: @current_filter,
        filter_param: "order",
        filters: @valid_orders,
        no_items_text: "No events"
      ))
    %>
    <%# <%= paginate @polls, remote: true, params: { controller: 'pages', action: 'voting_phase_footer_tab' } %>
  </div>

  <div class="sidebar">
    <%# <% unless @current_projekt.overview_page? %>
    <%#   <aside class="margin-bottom">
    <%#     <%= render Sidebar::ProjektsFilterComponent.new(
    <%#       top_level_active_projekts: @top_level_active_projekts,
    <%#       top_level_archived_projekts: @top_level_archived_projekts,
    <%#       scoped_projekt_ids: @scoped_projekt_ids,
    <%#       all_resources: @all_resources,
    <%#       current_tab_phase: @current_tab_phase,
    <%#       current_projekt: @current_projekt
    <%#     ) %>
    <%#   </aside>
    <%# <% end %>
  </div>
</div>
