<div class="flex-column">
  <div class="layout-left-column">
    <%# <%= render Shared::MobileResourcesFilterComponent.new(
    <%#   sdgs: @sdgs,
    <%#   categories: @categories,
    <%#   resource_name: @resource_name,
    <%#   projekts_filter_variables: {
    <%#     top_level_active_projekts: @top_level_active_projekts,
    <%#     top_level_archived_projekts: @top_level_archived_projekts,
    <%#     scoped_projekt_ids: @scoped_projekt_ids,
    <%#     all_resources: @all_resources,
    <%#     current_tab_phase: @current_tab_phase,
    <%#     current_projekt: @current_projekt
    <%#   }
    <%# ) %>
    <%= render 'shared/loader_spinner' %>
    <% if extended_feature?('polls.intro_text_for_polls') %>
      <%=render_custom_block 'polls_welcome' %>
    <% end %>

    <% if show_polls_description? %>
      <div class="polls-description">
        <%= auto_link_already_sanitized_html wysiwyg(@active_poll.description) %>
      </div>
    <% end %>

      <% if @current_projekt.overview_page? %>

      <% else %>
        <% voting_phase_url = url_for(action: params[:current_tab_path], controller: "/pages", format: :js) %>
      <% end %>
      <%= render(
            Shared::ResourcesList.new(
              resources: @polls,
              resource_type: Poll,
              title: 'Polls',
              remote_url: voting_phase_url,
              map_coordinates: @polls_coordinates,
              current_filter: @current_filter,
              filter_param: "order",
              filters: @valid_orders,
              no_items_text: "No polls"
            ))
      %>
    <%= paginate @polls, remote: true, params: { controller: 'pages', action: 'voting_phase_footer_tab' } %>

    <div id="section_help" class="margin" data-magellan-target="section_help">
      <% if extended_feature?('modulewide.custom_help_text_in_modules')  %>
        <%= render_custom_block 'polls_help' %>
        <%= render_custom_partial "footer" %>
      <% end %>
    </div>
  </div>

  <div class="sidebar">
    <%= render Shared::NewButtonComponent.new(projekt_phase: @current_tab_phase) %>

    <% unless @current_projekt.overview_page? %>
      <%= render Sidebar::ProjektsFilterComponent.new(
        top_level_active_projekts: @top_level_active_projekts,
        top_level_archived_projekts: @top_level_archived_projekts,
        scoped_projekt_ids: @scoped_projekt_ids,
        all_resources: @all_resources,
        current_tab_phase: @current_tab_phase,
        current_projekt: @current_projekt
      ) %>
    <% end %>

    <%= render "shared/sidebar_filter/geozone_affiliations", resource_name: @resource_name, geozones: @geozones %>
    <%= render "shared/categories", taggable: "projekt", categories: @categories, projekt_footer_mode: true %>
    <%= render SDG::Goals::TagCloudComponentCustom.new("Projekt", sdg_targets: @sdg_targets) %>
  </div>
</div>
