<% if Setting.new_design_enabled? %>
  <div class="main-layout-column">
    <div class="layout-left-column">
      <%= back_link_to %>

      <h1><%= t("custom.proposal_notifications.new.title") %></h1>

      <%= render UserResource::BannerComponent.new(@proposal)  %>

      <%= form_for @notification do |f| %>
        <%= render "shared/errors", resource: @notification %>

        <div class="margin-bottom">
          <%= f.text_field :title, label: false, placeholder: t('custom.proposal_notifications.new.title_field_placeholder') %>
          <%# <%= f.text_area :body, rows: "3", label: false, placeholder: t("custom.proposal_notifications.new.body_field_placeholder") %>
          <%= f.text_area :body,
            label: false,
            placeholder: t("custom.proposal_notifications.new.body_field_placeholder"),
            class: "html-area #{ck_editor_class(current_user)}"
          %>
          <%= f.hidden_field :proposal_id, value: @proposal.id %>
        </div>

        <%= f.submit t("proposal_notifications.new.submit_button"), class: "button submit-button" %>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="small-12 column">
      <%= back_link_to %>

      <h1><%= t("proposal_notifications.new.title") %></h1>

      <div class="callout primary">
        <p>
        <%= sanitize(t("proposal_notifications.new.info_about_receivers",
                       count: @proposal.users_to_notify.count,
                       proposal_page: link_to(t("proposal_notifications.new.proposal_page"),
                                              proposal_path(@proposal, anchor: "comments")))) %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-9 column">
      <%= form_for @notification do |f| %>
        <%= render "shared/errors", resource: @notification %>

        <%= f.text_field :title %>
        <%= f.text_area :body, rows: "3" %>
        <%= f.hidden_field :proposal_id, value: @proposal.id %>

        <div class="small-12 medium-4">
          <%= f.submit t("proposal_notifications.new.submit_button"), class: "button expanded" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
