<div id="cards">
  <h2 class="inline-block">Content Cards</h2>

  <%= render "shared/globalize_locales", resource: @content_card %>

  <%= translatable_form_for [:admin, @content_card] do |f| %>
    <%= f.translatable_fields do |translations_form| %>
      <div class="row">
        <div class="small-12 medium-6 column">
          <%= translations_form.text_field :title %>
        </div>
      </div>
    <% end %>

    <div class="row">
		  <div class="small-12 medium-6 column">
        <%= f.fields_for :settings do |settings_form| %>
          <% @default_settings.each do |key, value| %>
            <%= settings_form.text_field key, value: @content_card.settings[key] %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
		  <div class="small-12 medium-6 column">
				<%= f.submit t("custom.formular_answer.form.submit"), class: "button" %>
      </div>
    </div>
  <% end %>
</div>
