<% if header.present? %>
  <%header_large = Widget::Card.header.find_by title: "header_large" %>
  <style>
    <%if header_large%>
      .home-page .jumbo{
        background-image: url("<%= polymorphic_path(header_large.image.attachment) %>");
        background-size: cover;
      }
    <%end%>
  </style>

  <div class="jumbo highlight">
    <div class="row">
      <div class="small-12 column <%= "medium-9 small" unless header.image.present? %>">
        <span class='welcome-hashtag'><%= sanitize(t('cli.welcome.hashtag')) %></span>
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="full-button">
        <%= link_to t('cli.welcome.buttons.start_survey'), "#survey" %>
      </button>
      <button type="button" class="hollow-button">
        <%= link_to t('cli.welcome.buttons.infomaterial'), "#infomaterial" %>
      </button>
    </div>
  </div>

<% end %>
