<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>


<main>
  <%= render "header", header: @header %>

  <div class="row intro">
    <div class="small-12 column">
      <%=render_custom_block 'home_page_1' %>
    </div>
  </div>

  <div class="row cards">
    <% if @cards.any? %>
      <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
        <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
      </div>
    <% end %>

    <% if feed_processes_enabled? %>
      <div class="small-12 large-4 column">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>

  <div class="azure-wrapper">
    <div class="row">
      <div class="small-12 column">
        <%=render_custom_block 'home_page_2' %>
      </div>
    </div>
  </div>

</main>
