<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main>
  <%= render "header", header: @header %>

  <div class='typeform-wrapper'>
    <div class='row'>
      <div class='column'>
        <div class="typeform-widget"
             data-url="https://form.typeform.com/to/VBrDRrvn?typeform-medium=embed-snippet"
             style="width: 100%; height: 900px;">
        </div>
        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </div>
    </div>
  </div>

  <div class='win-logos'>
    <div class='row'>
      <div class='small-12 column text-center'>
         <h2><%= t('cli.welcome.win_title') %></h2>
         <%= image_tag 'hugendubel.png', width: '351' %>
         <%= image_tag 'skyline_park_logo.png', width: '171' %>
         <%= image_tag 'cinemaxx.png', width: '314' %>
      </div>
    </div>
  </div>

  <div class='partner-logos'>
    <div class='row'>
      <div class='small-12 column text-center'>
         <h2><%= t('cli.welcome.partner_title') %></h2>
         <%= link_to(image_tag("wertebuendnis.png", alt: "Wertebündnis Bayern", width: "200"), "https://wertebuendnis-bayern.de", target:"_blank") %>
         <%= link_to(image_tag("phil_akademie.png", alt: "Akademie für Philosophische Bildung", width: "413"), "https://philosophische-bildung.de", target:"_blank") %>
         <%= link_to(image_tag("eu_akademie.png", alt: "Europäische Akademie Bayern", width: "200"), "https://europaeische-akademie.de", target:"_blank") %>
         <%= link_to(image_tag("rock.png", alt: "Rock Your Life", width: "200"), "https://rockyourlife.de", target:"_blank") %>
         <%= link_to(image_tag("ekai.png", alt: "eKAIROS", width: "270"), "https://ekairos.net", target:"_blank") %>
         <%= link_to(image_tag("mehr.png", alt: "Mehr Demokratie e.V.", width: "337"), "https://bayern.mehr-demokratie.de", target:"_blank") %>
      </div>
    </div>
  </div>
</main>
