<tr id="<%= dom_id(formular_field) %>" data-answer-id="<%= formular_field.id %>">
  <td><%= formular_field.name %></td>
  <td><%= formular_field.description %></td>
  <td>
    <%= t("custom.admin.projekt_phases.formular.kinds.#{formular_field.kind}") %>

    <% if formular_field.kind == 'dropdown' %>
      <br>
      <%= "[#{formular_field.drop_down_options}]" %>
    <% end %>
  </td>
  <td>
    <%= formular_field.required ? t("custom.boolean.yes") : t("custom.boolean.no") %>
  </td>

  <td>
    <%= render Admin::TableActionsComponent.new(formular_field,
                                            actions: [:edit, :destroy],
                                            edit_path: polymorphic_path([@namespace, @projekt_phase, @formular, formular_field], action: :edit),
                                            edit_options: { remote: true },
                                            destroy_path: polymorphic_path([@namespace, @projekt_phase, @formular, formular_field]),
                                            destroy_options: { remote: true }
                                           ) %>
  </td>
</tr>
