<td style="<%= css_for_mailer_content %>">

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unfeasible.hi") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unfeasible.rejected", title: @investment.title) %>
  </p>

  <p style="<%= css_for_mailer_text + css_for_mailer_quote %>">
    <%= @investment.unfeasibility_explanation %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unfeasible.proposal_link_html", link_url: budget_investment_url(@investment.budget, @investment)) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unfeasible.thank_you") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_unfeasible.sincerely") %>
  </p>
</td>
