<td style="padding-bottom: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("custom.sign_up.mailer.residence_not_confirmed.greeting") %> <%= @user.full_name %>,
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("custom.sign_up.mailer.residence_not_confirmed.text") %>
  </p>

  <ul style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <% @verification_errors.each do |error|%>
      <li><%= error %></li>
    <% end %>
  </ul>

  <br>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("custom.sign_up.mailer.residence_not_confirmed.url_cta") %> <%= link_to t("custom.sign_up.mailer.residence_not_confirmed.url_anchor"), root_url %>
  </p>

</td>
