<%= content_for :body_class, "custom-page" %>
<% provide :title do %><%= @custom_page.title %><% end %>

<style>
<% if @custom_page.image.present? %>
  .custom-page-banner {
    background-image: url("<%= url_for(@custom_page.image.attachment) %>");
    background-size: cover;
    background-position: center center;
  }
<% end %>
</style>

<main>
  <% if @custom_page.subtitle.blank? && @custom_page.image.blank? %>
    <h1 class="custom-page--title margin-bottom">
      <%= @custom_page.title %>
    </h1>
  <% else %>
    <div class="custom-page--banner-wrapper">
      <div class="custom-page--banner">
        <div class="custom-page--banner-text-section-wrapper">
          <div class="custom-page--banner-text-section">
            <h1 class="custom-page--banner-title">
              <%= @custom_page.title %>
            </h1>

            <% if @custom_page.subtitle.present? %>
              <div class="custom-page--banner-description">
                <%= @custom_page.subtitle %>
              </div>
            <% end %>
          </div>

          <% if @custom_page.projekt.present? %>
            <div class="custom-page--banner-breadcrumbs">
              <%= breadcrumbs_links(@custom_page.projekt) %>
            </div>
          <% end %>
        </div>

        <% if @custom_page.image.present? %>
          <%= image_tag(url_for(@custom_page.image.attachment), class: "custom-page--banner-image" )  %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="d-flex laoyut-main-column">
    <% if @custom_page.projekt.present? %>
      <div class="layout-left-column">
        <div class="new-card new-main-content-card">
          <%= render 'custom_page_content' %>
        </div>
      </div>

      <div class="projekt-sidebar margin-bottom">
        <%= render partial: 'pages/sidebar_new', locals: { projekt: @custom_page.projekt } %>
      </div>

    <% else %>
      <div class="layout-left-column">
        <%= render 'custom_page_content' %>
      </div>
    <% end %>
  </div>


  <% if @custom_page.projekt.present? && projekt_feature?(@custom_page.projekt, 'general.show_projekt_footer') %>
    <div class="d-flex layout-main-column">
      <%= render Pages::Projekts::FooterPhasesComponent.new(@custom_page.projekt, @default_phase_name) %>
    </div>

    <div class="d-flex layout-main-column">
      <div id='footer-content'>
        <%= render 'shared/loader_spinner' %>
        <%= render "pages/projekt_footer/#{@default_phase_name}" %>
      </div>
    </div>
  <% end %>
</main>

<script>
  App.Projekts.toggleDefaultProjekts();
</script>
