<%= translatable_form_for deficiency_report, url: deficiency_report_management_deficiency_report_path(deficiency_report), html: { class: "deficiency-report-form" } do |f| %>

  <%= render "shared/globalize_locales", resource: deficiency_report %>

  <%= render "shared/errors", resource: deficiency_report %>

  <% if current_user&.administrator? %>
  <% end %>

  <% if can? :update_category, deficiency_report %>
    <%= f.select :deficiency_report_category_id, DeficiencyReport::Category.all.map { |df| [df.name, df.id] } %>
  <% end %>

  <% if can? :update_officer, deficiency_report %>
    <%= f.select :deficiency_report_officer_id, DeficiencyReport::Officer.all.map { |df| [df.name, df.id] },
      { prompt: t("custom.deficiency_reports.show.sidebar.select_officer") },
      { onchange: "$('#deficiency_report_assigned_at').val(new Date().toISOString());" } %>
    <%= f.hidden_field :assigned_at %>

    <%= f.check_box :notify_officer_about_new_comments,
      onchange: "
        if(event.target.checked) {
          $('#deficiency_report_notified_officer_about_new_comments_datetime').val(new Date().toISOString())
        } else {
          $('#deficiency_report_notified_officer_about_new_comments_datetime').val('')
        }
      " %>
    <%= f.hidden_field :notified_officer_about_new_comments_datetime %>
  <% end %>

  <% if can? :update_status, deficiency_report %>
    <%= f.select :deficiency_report_status_id, DeficiencyReport::Status.all.map { |df| [df.title, df.id] } %>
  <% end %>

  <%= f.translatable_fields do |translations_form| %>
    <% if can? :update_official_answer, deficiency_report %>
       <%= translations_form.label :official_answer, t("custom.deficiency_reports.show.official_answer.title") %>
       <%= translations_form.text_area :official_answer, label: false, class: "html-area #{ck_editor_class(current_user)}" %>
    <% end %>
  <% end %>

  <% if can? :approve_official_answer, deficiency_report %>
    <%= f.check_box :official_answer_approved %>
  <% end %>

  <div class="actions">
    <%= f.submit(class: "button", value: t("custom.deficiency_reports.form.edit.submit_button")) %>
  </div>

<% end %>
