<% if Setting.new_design_enabled? %>

  <main class="user-resources-form <%= " -no-image" unless projekt_phase_feature?(budget.projekt_phase, "form.allow_attached_image") %>">
    <%= translatable_form_for(investment, url: url, html: { class: "budget-investment-form" }) do |f| %>
      <%= resources_back_link(fallback_path: url_to_footer_tab) %>

      <div class="flex-layout">
        <div class="main-column">
          <h1 class="user-resources-form--title">
            <%= investment.projekt_phase.resource_form_title.presence || t("custom.budgets.investments.form.start_new") %>
          </h1>

          <div class="user-resources-form--description">
            <%= render_custom_block "user_resource_form_budget_investment", default_content: t("custom.budgets.investments.form.page_description") %>
          </div>

          <%= render "shared/errors", resource: investment %>
        </div>
      </div>

      <div class="flex-layout">
        <div class="main-column">
          <%= f.translatable_fields do |translations_form| %>
            <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>
            <div class="user-resources-form--banner-editor js-user-resources-form--banner-editor -budget-investment">
              <div class="user-resources-form--title-wrapper">
                <%= translations_form.text_area :title,
                  label: false,
                  class: "user-resources-form--banner-editor-title",
                  placeholder: investment.projekt_phase&.resource_form_title_hint.presence || t("custom.budgets.investments.form.title_placeholder"),
                  autocomplete: "off" %>
              </div>

              <% if projekt_phase_feature?(budget.projekt_phase, "form.allow_attached_image") %>
                <div class="banner-editor-image-attachment js-banner-editor-image-attachment">
                  <% if f.object.image.blank? %>
                    <% f.object.build_image %>
                  <% end %>
                  <%= f.fields_for :image do |image_builder| %>
                    <%= render UserResources::ImageUploadComponent.new(image_builder, imageable: f.object) %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <%= translations_form.text_area :description,
              label: false,
              data: {placeholder: t("custom.budgets.investments.form.description_placeholder_html")},
              class: "html-area #{ck_editor_class(current_user)}" %>
          <% end %>

          <% if projekt_phase_feature?(investment.projekt_phase, "form.show_map") %>
            <div class="new-card" id='map-container'>
              <%= render "map_locations/form_fields",
                form:     f,
                map_location: investment.map_location || MapLocation.new,
                label: t("proposals.form.map_location"),
                help:     t("custom.budgets.investments.form.map.hint"),
                parent_class: "budget_investments",
                projekt_phase: investment.projekt_phase,
                i18n_namespace: "budgets.investments" %>
            </div>
          <% end %>
        </div>

        <aside class="sidebar">

          <% if projekt_phase_feature?(investment.projekt_phase, "form.show_implementation_option_fields") %>
            <%= render Shared::SidebarCardComponent.new(
                          title: t("custom.budgets.investments.form.implementation.title"),
                          description: t("custom.budgets.investments.form.implementation.description"),
                          icon_name: "hands-helping"
                       ) do |c| %>
              <div>
                <%= f.select :implementation_performer, options_for_implementation_select,
                  {
                    label: false,
                    selected: investment.implementation_performer
                  },
                  {
                    class: 'implementation-performer show-arrow',
                    style: "width:100%;", onChange: "$(this).val() === 'user' ? $('#implementation_contribution').css('display', 'block') : $('#implementation_contribution').css('display', 'none')"
                  } %>
              </div>

              <div id='implementation_contribution' style="display:<%= investment.implementation_performer == 'user' ? 'block' : 'none' %>">
                <%= f.text_field :implementation_contribution %>
              </div>
            <% end %>
          <% end %>

          <% if projekt_phase_feature?(investment.projekt_phase, "form.show_user_cost_estimate") %>
            <%= render Shared::SidebarCardComponent.new(
                          title: t("custom.budgets.investments.form.user_cost_estimate.title"),
                          description: t("custom.budgets.investments.form.user_cost_estimate.description"),
                          icon_name: "euro-sign"
                       ) do |c| %>
              <%= f.text_field :user_cost_estimate, label: false, placeholder: t("custom.budgets.investments.form.user_cost_estimate.placeholder") %>

            <% end %>
          <% end %>

          <% if projekt_phase_feature?(investment.projekt_phase, "form.labels") && investment.projekt_phase.projekt_labels.any? %>
            <%= render Shared::SidebarCardComponent.new(title: (investment.projekt_phase.labels_name.presence || "Labels"), opened_on_mobile: true, icon_name: "tag", class_name: "js-sidebar-label-section js-projekt-labels-selector") do |c| %>
              <div id="projekt_labels_selector" class="projekt-labels">
                <%= f.label :projekt_labels, t("custom.shared.form.projekt_labels_label"), class: "required" %>
                <p class="small" style="margin-bottom:0.25rem;"><%= t("custom.shared.form.projekt_labels_hint") %></p>
                <div class="projekt-labels-selector--checkboxes">
                  <%= f.collection_check_boxes :projekt_label_ids, investment.projekt_phase.projekt_labels, :id, :name do |cb| %>
                    <%= cb.check_box %>
                    <% iconn = content_tag(:i, nil, class: "fas fa-#{cb.object.icon}") %>
                    <%= cb.label(id: dom_id(cb.object), class: "projekt-label") { iconn + cb.text } %>
                  <% end %>
                </div>
              </div>

              <% if investment.errors.details[:projekt_labels].any? %>
                <% investment.errors.details[:projekt_labels].each do |error| %>
                  <small class='form-error is-visible'>
                    <%= t("activerecord.errors.models.budget_investment.attributes.projekt_labels.#{error[:error]}") %>
                  </small>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if projekt_phase_feature?(investment.projekt_phase, "form.sentiments") && investment.projekt_phase.sentiments.any? %>
            <%= render Shared::SidebarCardComponent.new(title: (investment.projekt_phase.sentiments_name.presence || "Sentiments"), opened_on_mobile: true, icon_name: "heart", class_name: "js-sidebar-sentiment-section js-sentiments-selector") do |c| %>
              <div id="sentiment_selector" class="sentiments">
                <%= f.label :sentiment_id, t("custom.shared.form.sentiment_label"), class: "required" %>
                <p class="small" style="margin-bottom:0.25rem;"><%= t("custom.shared.form.sentiment_hint") %></p>

                <div class="projekt-sentiments-selector--checkboxes">
                  <%= f.collection_radio_buttons :sentiment_id, investment.projekt_phase.sentiments, :id, :name, { include_hidden: false } do |rb| %>
                    <%= rb.radio_button %>
                    <% button_styles = "border-color:#{rb.object.color};background-color:#{rb.object.color};color:#{pick_text_color(rb.object.color)}" %>
                    <%= rb.label(id: dom_id(rb.object), class: "sentiment js-select-projekt-sentiment", data: { "sentiment-color" =>  rb.object.color }, style: button_styles) { rb.text } %>
                  <% end %>
                </div>
              </div>

              <% if investment.errors.details[:sentiment_id].any? %>
                <% investment.errors.details[:sentiment_id].each do |error| %>
                  <small class="form-error is-visible">
                    <%= t("activerecord.errors.models.budget_investment.attributes.sentiment.#{error[:error]}") %>
                  </small>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if projekt_phase_feature?(investment.projekt_phase, "form.allow_attached_documents") %>
            <%= render Shared::SidebarCardComponent.new(
                          title: t("custom.budgets.investments.form.documents.title"),
                          icon_name: "file"
                       ) do |c| %>
               <%= render "documents/nested_documents", documentable: investment, f: f %>
            <% end %>
          <% end  %>

          <% if translations_interface_enabled? %>
            <%= render Shared::SidebarCardComponent.new(
                          title: t("custom.deficiency_reports.form.languages.title"),
                          description: t("custom.deficiency_reports.form.languages.description"),
                          icon_name: "language"
                       ) do |c| %>
                <%= render "shared/globalize_locales", resource: investment %>
            <% end %>
          <% end %>

          <% if projekt_phase_feature?(investment.projekt_phase, "form.enable_external_video") %>
            <%= render(Shared::SidebarCardComponent.new(
              title: "Video hinzuf端gen",
              opened_on_mobile: true,
              icon_name: "video")) do %>
              <p>
              Gibt es Videos, die Ihre Argumentation und Sichtweise st端tzen?
              Dann f端gen Sie diese 端ber einen Link hinzu.
              </p>
              <%= f.text_field :video_url, label: false, placeholder: "YouTube oder Vimeo-Link eingeben", class: "light-input" %>
            <% end %>
          <% end %>

          <% if current_user.administrator? || current_user.moderator? %>
            <%= render Shared::SidebarCardComponent.new(
                          title: t("custom.budgets.investments.form.on_behalf_of.title"),
                          description: t("custom.budgets.investments.form.on_behalf_of.description"),
                          icon_name: "user"
                       ) do |c| %>
                <%= f.text_field :on_behalf_of, label: false, placeholder: t("custom.budgets.investments.form.on_behalf_of.placeholder"), class: "light-input" %>
            <% end %>
          <% end %>

          <%= f.invisible_captcha :subtitle %>
        </aside>
      </div>

      <div class="user-resources-form--submit-section">
        <% if investment.new_record? %>
          <h3 class="user-resources-form--submit-section--privacy-policy">
            Datenschutzbestimmungen & Allgemeine Nutzerbedingungen
          </h3>

          <div>
            <%= f.check_box :resource_terms,
              title: t("custom.terms.resource_terms.title"),
              label: t("custom.terms.resource_terms.label",
                       privacy_link: link_to(
                         t("custom.terms.privacy_link.text"), "/privacy",
                         title: t("shared.target_blank"),
                         target: "_blank"
                       ),
                       terms_link: link_to(
                         t("custom.terms.terms_link.text"),
                         "/conditions",
                         title: t("shared.target_blank"),
                         target: "_blank"
                       )
                      ) %>
        </div>
      <% end %>

        <%= f.submit(class: "button", value: t("custom.user_resources.form.submit_button")) %>
      </div>
    <% end %>
  </main>

<% else %>
  <%= translatable_form_for(investment, url: url, html: { class: "budget-investment-form" }) do |f| %>

    <%= render "shared/errors", resource: investment %>

    <fieldset class="required-fields">
      <legend><%= t("custom.budgets.investments.form.required") %></legend>

      <% unless budget.single_heading? %>
        <div>
          <%= f.select :heading_id, budget_heading_select_options(budget), { include_blank: true } %>
        </div>
      <% end %>

      <% if projekt_phase_feature?(investment&.projekt_phase, "form.show_implementation_option_fields") %>
        <div>
          <%= f.select :implementation_performer, options_for_implementation_select, {}, { class: 'implementation-performer show-arrow', onChange: "$(this).val() === 'user' ? $('#implementation_contribution').css('display', 'block') : $('#implementation_contribution').css('display', 'none')" } %>
        </div>

        <div id='implementation_contribution' style="display:<%= investment.implementation_performer == 'user' ? 'block' : 'none' %>">
          <%= f.text_field :implementation_contribution %>
        </div>
      <% end %>

      <% if projekt_phase_feature?(investment.projekt_phase, "form.show_user_cost_estimate") %>
        <%= f.text_field :user_cost_estimate %>
      <% end %>

      <% if projekt_phase_feature?(budget&.projekt_phase, "form.show_map") %>
        <div class="margin-bottom">
          <%= render "map_locations/form_fields",
                     form:           f,
                     map_location:   investment.map_location || MapLocation.new,
                     mappable:       investment,
                     label:          t("budgets.investments.form.map_location"),
                     help:           t("budgets.investments.form.map_location_instructions"),
                     parent_class:   "budget_investment",
                     projekt:        budget&.projekt,
                     projekt_phase:  budget&.projekt_phase,
                     i18n_namespace: "budgets.investments" %>
        </div>
      <% end %>

      <div>
        <%= render "shared/globalize_locales", resource: investment %>
      </div>

      <%= f.translatable_fields do |translations_form| %>
        <div>
          <%= translations_form.text_field :title,
                maxlength: Budget::Investment.title_max_length,
                data: suggest_data(investment) %>
        </div>
        <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

        <div>
          <%= translations_form.text_area :description,
                maxlength: Budget::Investment.description_max_length,
                class: "html-area #{helpers.ck_editor_class(current_user)}" %>
        </div>
      <% end %>
    </fieldset>

    <%= f.invisible_captcha :subtitle %>

    <fieldset>
      <legend><%= t("shared.optional") %></legend>

      <% if projekt_phase_feature?(budget.projekt_phase, "form.allow_attached_image") %>
        <div class="images">
          <%= render "images/nested_image", f: f %>
        </div>
      <% end %>

      <% if projekt_phase_feature?(budget.projekt_phase, "form.allow_attached_documents") %>
        <div class="documents">
          <%= render "documents/nested_documents", f: f %>
        </div>
      <% end %>

      <% if current_user.administrator? || current_user.moderator? %>
        <div>
          <%= f.text_field :on_behalf_of %>
        </div>
      <% end %>

      <%# if current_user.administrator? %>
        <!--
        <div>
          <%#= f.text_field :organization_name %>
        </div>
        -->
      <%# end %>
    </fieldset>

    <div class="actions">
      <% unless current_user.manager? || investment.persisted? %>
        <div>

          <%= f.check_box :resource_terms,
            title: t("custom.terms.resource_terms.title"),
            label: t("custom.terms.resource_terms.label",
                     privacy_link: link_to(t("custom.terms.privacy_link.text"), "/privacy",
                                           title: t("shared.target_blank"), target: "_blank"),
                     terms_link: link_to(t("custom.terms.terms_link.text"), "/conditions",
                                         title: t("shared.target_blank"), target: "_blank")),
            class: "checkbox-label--aligned" %>

          <p style="text-align:left;"><%= t("custom.terms.revoke_consent.text") %></p>

        </div>
      <% end %>

      <%= f.submit %>
    </div>
  <% end %>

<% end %>
