<div class="row">
  <div class="small-12 column">
    <h3><%= t("admin.budget_phases.edit.title") %></h3>
  </div>
</div>

<%= render "shared/globalize_locales", resource: phase %>

<%= translatable_form_for [namespace, phase.budget, phase], html: { class: "budget-phases-form" } do |f| %>

  <%= render "shared/errors", resource: phase %>

  <div class="row">
    <div class="column medium-6 date-field">
      <%= f.date_field :starts_at, id: "start_date" %>
    </div>
  </div>

  <div class="row">
    <div class="column medium-6 date-field">
      <%= f.date_field :ends_at, id: "end_date" %>
    </div>
  </div>

  <%= f.translatable_fields do |translations_form| %>
    <div class="row">
      <div class="medium-6 column">
        <%= translations_form.text_field :name %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 column">
      <%= f.submit t("admin.budget_phases.edit.save_changes"), class: "button success" %>
    </div>
  </div>
<% end %>
