<td style="padding-bottom: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("cli.devise_views.mailer.confirmation_instructions.greeting", name: @user.name) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("cli.devise_views.mailer.confirmation_instructions.p1") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("cli.devise_views.mailer.confirmation_instructions.p11") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("cli.devise_views.mailer.confirmation_instructions.p2") %>
  </p>

  <div style='text-align:center;'>
    <%= link_to confirmation_url(@resource, confirmation_token: @token, custom_newsletter: true), style: "background-color:#ACB728;color:white;margin-bottom:20px;display:inline-block;font-weight:bold;font-size:larger;" do %>
      <%= t("cli.devise_views.mailer.confirmation_instructions.cta_with_newsletter") %>
    <% end %>
  </div>

  <div style='text-align:center;'>
    <%= link_to confirmation_url(@resource, confirmation_token: @token, custom_newsletter: false), style: "background-color:#716566;color:white;margin-bottom:20px;display:inline-block;font-weight:bold;font-size:larger;" do %>
      <%= t("cli.devise_views.mailer.confirmation_instructions.cta_without_newsletter") %>
    <% end %>
  </div>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("cli.devise_views.mailer.confirmation_instructions.expiration_warning") %>
  </p>
</td>
