<div class="phase-geo-restriction">
  <div class="restriction-title">
    <%= t("custom.admin.projekt_phases.restrictions.extended_geo_restrictions.title") %>
    <span class='restriction-hint'><%= t("custom.admin.projekt_phases.restrictions.extended_geo_restrictions.hint") %></span>
  </div>

  <div class="margin-bottom">
    <div class="projekt-phase-restriction-block">
      <%= f.radio_button :registered_address_grouping_restriction, "no_restriction",
                         label: t("custom.admin.projekt_phases.restrictions.extended_geo_restrictions.no_restriction"),
                         class: "projekt-phase-restriction-option projekt-phase-geo-restriction",
                         checked: (@projekt_phase.registered_address_grouping_restriction.blank? || @projekt_phase.registered_address_grouping_restriction == "no_restriction") %>
    </div>

    <% @registered_address_groupings.each do |grouping| %>
      <div class="projekt-phase-restriction-block">
        <%= f.radio_button :registered_address_grouping_restriction, grouping.key,
                           label: "#{grouping.name} (#{grouping.key})",
                           class: "projekt-phase-restriction-option projekt-phase-geo-restriction" %>

        <div class="projekt-phase-geo-restriction-selector">
          <%= f.fields_for :registered_address_grouping_restrictions do |ff| %>
            <%= ff.collection_check_boxes grouping.key, grouping.restriction_options, :to_s, :to_s do |b| %>
              <%= b.label { b.check_box(
                checked: b.text.in?(@projekt_phase.registered_address_grouping_restrictions[grouping.key] || [])
              ) + b.text } %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
