<tr id="<%= dom_id(deficiency_report) %>" class="deficiency_report">
  <td class="text-center"><%= deficiency_report.id %></td>
  <% if Setting["deficiency_reports.admin_acceptance_required"].present? %>
    <td>
      <%= render Admin::LivesubmitCheckbox::Component.new(
        url: accept_deficiency_report_management_deficiency_report_path(deficiency_report),
        resource_name: "deficiency_report",
        attribute_name: "admin_accepted",
        record_id: deficiency_report.id,
        current_value: deficiency_report.admin_accepted
      ) %>
    </td>
  <% end %>
  <td>
    <%= l(deficiency_report.created_at, format: "%d.%m.%Y") %>
  </td>
  <td>
    <%= link_to deficiency_report.title, deficiency_report_management_deficiency_report_path(deficiency_report), target: "_blank" %>
    <small><%= link_to "Front-end", deficiency_report_path(deficiency_report), target: "_blank" %></small>
  </td>
  <td><%= link_to deficiency_report.author.username, user_path(deficiency_report.author), target: "_blank" %></td>
  <td><%= deficiency_report.status&.title %></td>
  <td><%= deficiency_report.map_location&.approximated_address %></td>
  <td><%= deficiency_report.category&.name %></td>
  <td><%= deficiency_report.officer&.name %></td>
  <td><%= render Admin::TableActionsComponent.new(deficiency_report,
                                                  edit_path: edit_deficiency_report_management_deficiency_report_path(deficiency_report),
                                                  destroy_path: deficiency_report_management_deficiency_report_path(deficiency_report)
                                                 ) %></td>
</tr>
