<% provide(:title) do %>
  <%= t("admin.header.title") %> - <%= t("admin.deficiency_reports.index.title") %>
<% end %>

<h2><%= t("admin.deficiency_reports.index.title") %></h2>

<%= render "custom/deficiency_report_management/deficiency_reports/filter" %>

<% if @deficiency_reports.any? %>
  <h3><%= page_entries_info @deficiency_reports %></h3>

  <%= link_to t("custom.shared.download"), deficiency_report_management_deficiency_reports_path(csv_params), class: "float-right small clear" %>

  <table>
    <thead>
      <tr>
        <th class="text-center"><%= t("custom.admin.deficiency_reports.index.id") %></th>
        <% if Setting["deficiency_reports.admin_acceptance_required"].present? %>
          <th><%= t("custom.admin.deficiency_reports.index.admin_accepted") %></th>
        <% end %>
        <th><%= t("custom.admin.deficiency_reports.index.created_at") %></th>
        <th><%= t("custom.admin.deficiency_reports.index.title") %></th>
        <th><%= t("custom.admin.deficiency_reports.index.author") %></th>
        <th><%= t("custom.admin.deficiency_reports.index.status_title") %></th>
        <th><%= t("custom.admin.deficiency_reports.index.approximater_location") %></th>
        <th><%= t("custom.admin.deficiency_reports.index.category_name") %></th>
        <th><%= t("custom.admin.deficiency_reports.index.officer_name") %></th>
        <th><%= t("custom.admin.deficiency_reports.index.actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% @deficiency_reports.each do |deficiency_report| %>
        <%= render "deficiency_report_row", deficiency_report: deficiency_report %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @deficiency_reports %>
<% else %>
  <div class="callout primary">
    <%= t("admin.deficiency_reports.no_deficiency_reports") %>
  </div>
<% end %>
