<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.proposals") %> - <%= @deficiency_report.title %>
<% end %>

<%= render "custom/deficiency_report_management/deficiency_reports/subnav", deficiency_report: @deficiency_report %>

<%= render "custom/deficiency_report_management/deficiency_reports/show/basic_data", deficiency_report: @deficiency_report %>

<hr>

<div class="row expanded full-width">
  <% if can?(:edit, @deficiency_report) %>
    <div class="small-12 large-8 columns margin-bottom">
      <%= render "custom/deficiency_report_management/deficiency_reports/show/administer", deficiency_report: @deficiency_report %>
    </div>
  <% end %>
</div>

<hr>

<div class="row expanded full-width">
  <div class="small-12 large-8 columns margin-bottom">
    <%= render "admin/memos/memos", memoable: @deficiency_report %>
  </div>
</div>
