<%= render "shared/canonical", href: root_url %>
<%= render "shared/social_media_meta_tags", social_url: root_url %>
<%= render "layouts/meta_tags" %>
<%= render "layouts/common_head", default_title: setting["org_name"] %>
<%= render "layouts/header" %>
  


<main class='row'>
  <!-- <video></video> -->

  <div class='video-container'>
    <iframe width="100%" height="617" src="https://www.youtube.com/embed/Vhn5u0tTLyY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <section class='intro'>
    <div class='container'>
      <div class='intro-content'>
        <h1>Die Zukunft braucht Deine Ideen</h1>
        <p>
        Wir sind die <strong>Sammlungsbewegung. Wir haben Menschen gesammelt.</strong> Fast 170.000 Mitstreiterinnen und Mitstreiter haben sich bei aufstehen zusammengefunden. Und wir sind eine <strong>Demokratiebewegung</strong>. Deshalb <strong>sammeln wir jetzt eure Forderungen an die Politik</strong> und wollen sie <strong>gemeinsam abstimmen</strong>.<br> 
        Wir sagen: Schluss mit endlosen, unlesbaren Programmen, verfasst von einem Parteiapparat und beschlossen von ein paar Hundert Delegierten. <strong><i>Wir wollen die Politik zurück zu den Menschen bringen. Und die Menschen zurück in die Politik</i></strong>.</p> 
        
        <p><strong>Wir machen aus der <strike>Bundes</strike>tagswahl eine <i>Bürger</i>tagswahl.</strong></p>
        
        <p>
        Wir sammeln Forderungen, die konkret sind. Die für Fortschritte stehen, hinter die niemand mehr zurück kann. Die innerhalb einer Wahlperiode umsetzbar sind oder zumindest auf den Weg gebracht werden können – und die Weichen stellen für eine gerechte und friedliche Zukunft unseres Landes.</p> 

        <p>
        <strong>Lasst uns gemeinsam Politik zur Bürgersache machen!</strong>
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class='container green'>
      <div class='content-image'>
        <%= image_tag 'discutieren.png' %>
      </div>
      <div class='content'>
        <h1>Tausche dich aus</h1>
        <p>
        In diesem Bereich könnt ihr die <strong>Themen diskutieren</strong>, die euch bewegen. Ihr könnt in bereits laufende <strong>Threads/Diskussionen</strong> einsteigen und kommentieren oder selbst neue starten über den Button auf der rechten Seite. <strong>Zustimmung oder Ablehnung</strong> zeigt ihr mit den Like- und Dislike-Buttons. <strong>Verpflichtend</strong> sind hier nur ein sachlicher Ton und die <strong>Einordnung in einen der vorgegebenen Themenbereiche bzw. eine der Kategorien</strong>, wenn ihr einen eigenen Thread erstellt. 
        </p>
        <button type="button" class='red'>diskutiere mit</button>
      </div>
    </div>
  </section>


  <section>
    <div class='container red'>
      <div class='content-image'>
        <%= image_tag 'vorschlaege.png' %>
      </div>
      <div class='content'>
        <h1>Zeige deine Ideen</h1>
        <p>
        Hier könnt ihr konkrete Forderungen eingeben und diskutieren. <strong><u>Achtung!</u> Pro Person sind nur drei Forderungen möglich!</strong> Wägt also sorgfältig ab, welche Vorschläge ihr in welcher Formulierung einreicht. Jede Forderung kann mit ergänzendem Material unterfüttert und in den Kommentaren weiter besprochen werden. <strong><u>Wichtig:</u></strong> Wenn ihr eine Forderung <strong>unterstützt</strong>, tut dies durch Drücken des „Unterstützung“-Buttons kund. Die <strong>X Forderungen</strong>, die a) <strong>nicht dem Gründungsaufruf widersprechen</strong> und b) zum Stichtag Y die <strong>höchste Zustimmung</strong> haben, werden in die große <strong>Abstimmung</strong> ab xx.xx.2021 übernommen.<br> 
        <strong>Verpflichtend</strong> sind auch hier nur ein sachlicher Ton und die <strong>Einordnung in einen der vorgegebenen Themenbereiche bzw. eine der Kategorien</strong>.  
        </p>
        <button type="button" class='green'>mach Vorschläge</button>
      </div>
    </div>
  </section>

  <section>
    <div class='container purple'>
      <div class='content-image'>
        <%= image_tag 'umfragen.png' %>
      </div>
      <div class='content'>
        <h1>Stimme ab</h1>
        <p>
          Stimme ab (Aktuell Erhalte Feedback) Abstimmung: 
        </p>

        <p>
          Ab ((wann??)) treten wir in die entscheidende Phase ein. Die X Forderungen, die die größte Unterstützung erhalten haben, werden zur Abstimmung gestellt. Ihr könnt sie selbstverständlich weiter kommentieren.<br>
          Bitte <strong>gebt nun bei jeder Forderung an:</strong> <br>
          a) Zustimmung: ob ihr dafür seid oder nicht oder ob sie euch egal ist bzw. ihr keine Meinung habt <br>
          b) Relevanz: wie wichtig euch diese Forderung auf einer Skala von 1 (unwichtig) bis 5 (sehr wichtig) ist. 
        </p>

        <p>
        Die <strong>21 Forderungen, die am Ende die größte Zustimmung und Wichtigkeit für euch haben, werden unseren Bürgertagswahl-2021-Katalog</strong> bilden. Diesen Katalog werden wir bis zur Wahl im September auf allen öffentlichen Kanälen präsentieren, allen Politikern zuschicken, Veranstaltungen und Aktionen dazu machen und damit zeigen: Es geht nur <i>mit</i> uns, nicht <i>gegen</i> uns! Und hinter uns stehen viele!  
        </p>
        <button type="button" class='red'>zu den Umfragen</button>
      </div>
    </div>
  </section>

  <section>
    <div class='container questions'>
      <div class='intro-content'>
        <h1>Noch Fragen?</h1>
        <div class=questions-content>
          <p>Lorem ipsum dolor sit amet, consetetur sa-dipscing elitr, sed diam nonumy eirmod tem-por invidunt ut labore et dolore magna ali-quyam erat, sed diam voluptua.</p>
          <button type="button" class='red'>hier findest du Antworten</button>
        </div>
      </div>
    </div>
  </section>
</main>
<div class="footer">
  <%= render "custom/layouts/footer" %>
</div>
