<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main>
  <%= render "header", header: @header %>

  <div class="d-flex u-flex-container">
    <%= render_custom_block 'home_page_1' %>
    <%= render 'sidebar'  %>
  </div>

  <% if @active_projekts.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @active_projekts, title: t("custom.welcome.active_projekt_cards.title"), wide: false, resources_url: list_projekts_path(format: :js), css_class: 'js-projekts-list') do |c| %>
        <% c.additional_top_content do %>
          <div class="map resources-list--projekt-map not-print">
            <%= render_map(MapLocation.new(latitude: Setting['map.latitude'], longitude: Setting['map.longitude'], zoom: Setting['map.zoom']), "projekts", false, nil, @active_projekts_map_coordinates, MapLayer.general.to_json) %>
          </div>
        <% end %>
      <% end %>
      <%= render 'sidebar'  %>
    </div>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @active_projekts, title: t("custom.welcome.active_projekt_cards.title"), wide: true) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @proposals.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @proposals, title: "Proposals", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @proposals, title: "Proposals", wide: true) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @debates.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @debates, title: "Debates", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @debates, title: "Debates", wide: true) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @polls.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @polls, title: "Polls", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @polls, title: "Polls", wide: true) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @deficiency_reports.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @deficiency_reports, title: "Deficiency reports", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @deficiency_reports, title: "Deficiency reports", wide: true) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @budgets.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @budgets, title: "Budget", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @budgets, title: "Budget", wide: true) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @cards.any? %>
    <div class="column small-centered margin-bottom">
      <div class="row">
        <div class="small-12 column">
          <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%= render_custom_block 'home_page_2' %>
    </div>
  </div>

  <% if @latest_polls.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <h3 class='title card-title'><%= t('custom.welcome.current_polls') %></h3>
        <%= render partial: "polls/poll_group", locals: { poll_group: @latest_polls } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_4' %>
    </div>
  </div>

  <% if @latest_items.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <h3 class='title card-title'><%= t('custom.welcome.user_entries') %></h3>
        <%= render "latest_items" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_5' %>
    </div>
  </div>

  <% if @expired_projekts.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @expired_projekts, section_title: t("custom.welcome.expired_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_6' %>
    </div>
  </div>
</main>
