<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>
<main class="welcome-page">
  <div class="d-flex flex-layout">
    <div class="main-column">

      <% if render_custom_content_block?('home_page_sidebar') %>
        <div class="show-on-small-tablet standalone-sidebar-section margin-bottom">
          <%= render Shared::SidebarCardComponent.new(title: 'Information', icon_name: "info-circle") do |c| %>
            <%= render_custom_block 'home_page_sidebar' %>
          <% end %>
        </div>
      <% end %>

      <%= render_custom_block 'home_page_1' %>

      <%= render Shared::ContentCardComponent.new(@content_cards.shift) %>

      <%= render_custom_block 'home_page_1a' %>

      <% if @cards.any? #cli %>
        <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
      <% end %>

      <%= render Shared::ContentCardComponent.new(@content_cards.shift) %>

      <%= render_custom_block "home_page_2" %>

      <%= render Shared::ContentCardComponent.new(@content_cards.shift) %>

      <%= render_custom_block "home_page_4" %>

      <%= render Shared::ContentCardComponent.new(@content_cards.shift) %>

      <%= render_custom_block "home_page_5" %>

      <%= render Shared::ContentCardComponent.new(@content_cards.shift) %>

      <%= render_custom_block "home_page_6" %>

      <%= render Shared::ContentCardComponent.new(@content_cards.shift) %>

    </div>

    <%= render "sidebar" %>

  </div>
</main>
