<%= render "shared/canonical", href: root_url %>
<%= render "shared/social_media_meta_tags", social_url: root_url %>
<%= render "layouts/common_head", default_title: setting["org_name"] %>

<div id="navigation_bar" class="subnavigation expanded">
  <div class="row">
    <div class="hide-for-small-only">
      <%= render "shared/subnavigation" %>
    </div>
    <div class="small-12 medium-3 column">
      <%= yield :header_addon %>
    </div>
  </div>
</div>

<main>
</main>
