<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main>
  <%= render "header", header: @header %>

  <div class="d-flex u-flex-container">
    <%= render_custom_block 'home_page_1' %>
    <%= render 'sidebar'  %>
  </div>

  <% if @active_projekts.any? %>
    <div class="d-flex u-flex-container">
      <%= render Projekts::List.new(projekts: @active_projekts, map_coordinates: @active_projekts_map_coordinates, current_filter: @current_projekt_filter, filters: @current_active_projekt_filters) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @proposals.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @proposals, title: "Proposals", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @debates.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @debates, title: "Debates", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @polls.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @polls, title: "Polls", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @deficiency_reports.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @deficiency_reports, title: "Deficiency reports", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @budgets.any? %>
    <div class="d-flex u-flex-container">
      <%= render Shared::ResourcesList.new(resources: @budgets, title: "Budget", wide: false) %>
      <%= render 'sidebar'  %>
    </div>
  <% end %>

  <% if @cards.any? %>
    <div class="column small-centered margin-bottom">
      <div class="row">
        <div class="small-12 column">
          <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%= render_custom_block 'home_page_2' %>
    </div>
  </div>

  <% if @latest_polls.any? %>
    <%= render Shared::ResourcesList.new(resources: @polls, title: t('custom.welcome.current_polls') , wide: false) %>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_4' %>
    </div>
  </div>

  <% if @latest_items.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <h3 class='title card-title'><%= t('custom.welcome.user_entries') %></h3>
        <%= render "latest_items" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_5' %>
    </div>
  </div>

  <% if @expired_projekts.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @expired_projekts, section_title: t("custom.welcome.expired_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_6' %>
    </div>
  </div>
</main>
