<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main>
  <%= render "header", header: @header %>

  <div class="row">
    <div class="column small-12 medium-8">
      <%= render_custom_block 'home_page_1' %>
    </div>
    <div class="column column small-12 medium-4">
      <div class="card-section">
        <h4 class="card-section--header">
          <i class="fas fa-bullhorn"></i>
          Neuigkeiten
        </h4>
        <div class="card-section--body">
          <%= render_custom_block 'home_page_2' %>
        </div>
      </div>

      <div class="card-section">
        <h4 class="card-section--header">
          <i class="fas fa-info-circle"></i>
          Nutzer*innen
        </h4>
        <div class="card-section--body">
          <div class="system-users-list">
            <div class="system-users-list--title">
              <%= number_with_delimiter(User.count,  delimiter: ".") %> Nutzer*innen
            </div>
            <div class="system-users-list--images">
              <% User.where.not(first_name: nil).last(5).each do |user| %>
                <div class="system-users-list--image">
                  <%= user&.first_name&.chars&.first&.capitalize %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="card-section">
        <div class="card-section--header">
          <div class="card-section--header-icon">
          </div>
          <h4 class="card-section--header-title">
            Aktivität | letzte 7 Tage
          </h4>
        </div>
        <div class="card-section--body">
          <div>
            17 neue Benutzer*innen
          </div>
          <div>
            20 neue Kommentare
          </div>
          <div>
            4 neue Vorschläge
          </div>
          <div>
            7 neue Diskussionen
          </div>
          <div class="card-section--divider"> </div>

          <div>
            Zur Übersicht aller Vorschläge
          </div>
          <div>
            Zur Übersicht aller Diskussionen
          </div>
          <div>
            Zur Übersicht aller Abstimmungen
          </div>
        </div>
      </div>

    </div>
  </div>

  <% if @cards.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <div class="row">
          <div class="small-12 column">
            <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @active_projekts.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @active_projekts, section_title: t("custom.welcome.active_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%= render_custom_block 'home_page_3' %>
    </div>
  </div>

  <% if @latest_polls.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <h3 class='title card-title'><%= t('custom.welcome.current_polls') %></h3>
        <%= render partial: "polls/poll_group", locals: { poll_group: @latest_polls } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_4' %>
    </div>
  </div>

  <% if @latest_items.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <h3 class='title card-title'><%= t('custom.welcome.user_entries') %></h3>
        <%= render "latest_items" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_5' %>
    </div>
  </div>

  <% if @expired_projekts.any? %>
    <div class="row">
      <div class="column small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @expired_projekts, section_title: t("custom.welcome.expired_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column small-centered">
      <%=render_custom_block 'home_page_6' %>
    </div>
  </div>
</main>
