<div id="<%= dom_id(livestream) %>" class='row'>
  <div class="column small-12 medium-6">
    <div class='projekt-livestream-content'>
      <% if livestream.from_youtube? %>
        <%= image_tag("https://img.youtube.com/vi/#{livestream.external_id}/hqdefault.jpg", referrerpolicy: "no-referrer") %>
      <% elsif livestream.from_vimeo? && livestream.preview_image_url.present? %>
        <%= image_tag(livestream.preview_image_url, referrerpolicy: "no-referrer") %>
      <% end %>

      <br>
      <br>

      <strong><%= ProjektLivestream.human_attribute_name(:url) %>:</strong>
      <%= link_to(livestream.url, livestream.url) %>

      <br>

      <% if livestream.title.present? %>
        <strong><%= ProjektLivestream.human_attribute_name(:title) %>:</strong>
        <%= livestream.title %>
      <% end %>

      <br>

      <strong><%= ProjektLivestream.human_attribute_name(:platform) %>:</strong>
      <%= livestream.platform_formated %>

      <br>

      <% if livestream.starts_at.present? %>
        <strong><%= ProjektLivestream.human_attribute_name(:starts_at) %>:</strong>
        <%= livestream.starts_at&.strftime("%d.%m.%y %H:%m") %>
      <% end %>

      <br>

      <% if livestream.description.present? %>
        <strong><%= ProjektLivestream.human_attribute_name(:description) %>:</strong>
        <%= truncate(livestream.description, length: 500) %>
      <% end %>
      <br>
      <br>
      <%= link_to t("custom.admin.projekt_phases.projekt_livestreams.send_notifications_button"), polymorphic_path([@namespace, @projekt_phase, livestream], action: :send_notifications), method: :post, class: "margin-right" %>
      <br>
      <br>
      <%= link_to t("custom.admin.projekt_phases.projekt_livestreams.edit_livestream"), polymorphic_path([@namespace, @projekt_phase, livestream], action: :edit), remote: true, class: "margin-right" %>
      <%= link_to t("custom.admin.projekt_phases.projekt_livestreams.delete_livestream"), polymorphic_path([@namespace, @projekt_phase, livestream]), method: :delete, data: { confirm: "Sind Sie sicher?" } %>
      <br>
      <br>
      <%= link_to t("custom.admin.projekt_phases.projekt_livestreams.add_question"), polymorphic_path([@namespace, @projekt_phase, ProjektQuestion.new], action: :new, projekt_livestream_id: livestream.id), class: "button" %>
    </div>
  </div>

  <div class="column small-12 medium-6">
    <% if livestream.projekt_questions.any? %>
      <h2 class="admin-projekt-livestream-projekt-questions-title">
        <%= t("custom.admin.projekt_phases.projekt_livestreams.questions") %>
      </h2>
    <% end %>

    <% livestream.projekt_questions.each do |projekt_question| %>
      <div class="admin-projekt-livestream-projekt-question margin-bottom">
        <div class="admin-projekt-livestream-projekt-question--inner">
          <h4>
            <%= projekt_question.title %>
            <div class="admin-projekt-livestream-projekt-question--actions">
              <%= link_to "", polymorphic_path([@namespace, @projekt_phase, projekt_question], action: :edit), class: "admin-edit-icon-button" %>
              <%= link_to "", polymorphic_path([@namespace, @projekt_phase, projekt_question]), method: :delete, class: "admin-delete-icon-button" %>
            </div>
          </h4>
          <% projekt_question.question_options.each do |question_option| %>
            <li class="admin-projekt-question-livestream-option">
              <%= question_option.value %>:
              <%= question_option.answers.count %>
            </li>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<hr>
