<div class="resource-page-banner <%= resource_class %>">
  <div class="resource-page-banner--text-section">
    <h2 class="resource-page-banner--title">
      <%= link_to resource do %>
        <%= resource.title %>
      <% end %>
    </h2>

    <div class="resource-page-banner--details">
      <div class="resource-page-banner--detail">
        <i class="fa fa-calendar"></i>
        <%= l(resource.created_at, format: :new_date_with_year) %>
      </div>
      <% if !resource.respond_to?(:projekt_phase) || projekt_phase_feature?(resource&.projekt_phase, "resource.show_comments") %>
        <div class="resource-page-banner--detail">
          <%= link_to('#comments') do %>
            <i class="fa fa-comment"></i>
            <%= "#{resource.comments.count} #{t("custom.resource_page.banner_component.comments")}" %>
          <% end %>
        </div>
      <% end %>
      <% if @resource.respond_to?(:projekt) %>
        <div class="resource-page-banner--detail">
          <%= link_to(projekt_path(resource.projekt)) do %>
            <i class="fa fa-code-branch"></i>
            <%= t("custom.resource_page.banner_component.related_projekt") %>
            <%= resource.projekt.name %>
          <% end %>
        </div>
      <% end %>
      <% if @resource.respond_to?(:projekt_labels) && @resource.projekt_labels.any? %>
        <div class="resource-page-banner--detail">
          <i class="fa fa-tags"></i>
          <%= render Shared::ProjektLabelsComponent.new(resource: @resource) %>
        </div>
      <% end %>
      <% if @resource.respond_to?(:sentiment) && @resource.sentiment.present? %>
        <div class="resource-page-banner--detail">
          <i class="fa fa-heart"></i>
          <%= @resource.sentiment.name %>
        </div>
      <% end %>
      <% if @resource.is_a?(DeficiencyReport) %>
        <div class="resource-page-banner--detail" style="align-items:baseline;">
          <i class="fa fa-th-large"></i>
          <%= t("activerecord.attributes.deficiency_report.category") + ": " %>
          <span class="deficiency-report-category" style="background-color:<%= @resource.category.color %>;color:#fff;">
            <i class="fas fa-<%= @resource.category.icon %>"></i>
            <%= @resource.category.name %>
          </span>
        </div>
        <div class="resource-page-banner--detail">
          <i class="fa fa-check-circle"></i>
          <%= t("activerecord.attributes.deficiency_report.status") + ": " %>
          <span class="deficiency-report-status" style="color:<%= @resource.status.color %>;">
            <i class="fas fa-<%= @resource.status.icon %>"></i>
            <%= @resource.status.title %>
          </span>
        </div>
        <% if current_user == @resource.author && Setting["deficiency_reports.admin_acceptance_required"].present? %>
          <div class="resource-page-banner--detail" style="align-items:baseline;">
            <i class="fas fa-file-alt"></i>
            <%= t("custom.deficiency_reports.show.admin_accepted.#{@resource.admin_accepted?}") %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= links_section %>
  </div>

  <% if resource.image.present? %>
    <%= link_to big_image_url, target: "_blank", class: "glightbox resource-page-banner--image" do %>
      <span class="image-maximize-button">
        <i class="fas fa-magnifying-glass-plus"></i>
      </span>
      <%= render(
        Shared::ResourceImageComponent.new(
          image_url: image_url,
          image_placeholder_icon_class: "fa-comments",
          resource: resource
        )
      ) %>
  <% end %>
  <% end %>
</div>
